<head>
    <title>Đăng Ký Tổ Hợp | Tạo Thông Báo</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/noti-generator.css">
</head>

<div id="master">
    <div class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752812401/school_banner_second_new_un0i6r.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="box-radius px-0 pt-0 shadow">
        <div class="card-body">
            <div class="content" style="display: none;">
                <h4 class="mb-3">Tạo thông báo</h4>
                <div class="container-create-noti">
                    {{#if (eq notification.type 'text')}}
                        <div class="box-submit-1">
                            <form action="/notification/create-noti" class="create-noti-form" method="POST">
                                <div class="form-group">
                                    <label for="signin-phone">Tiêu đề thông báo (*):</label>
                                    <input type="text" id="signin-phone" name="title" value="{{notification.title}}" class="noti__input" rules="required|min:10|max:130" placeholder="Tiêu đề thông báo">
                                    <span class="form-message"></span>
                                </div>

                                <div class="form-group">
                                    <label for="signin-password">Nội dung thông báo (*):</label>
                                    <textarea name="message" id="noti-message" rules="required|min:100" class="noti__input p-3" placeholder="Nội dung thông báo">{{notification.message}}</textarea>
                                    <span class="form-message"></span>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary form" type="button">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    {{else}}
                        <div class="box-submit-2">
                            <form action="/notification/create-noti" class="create-noti-form t d-flex flex-column" method="POST">
                                <div class="form-group">
                                    <label for="title-noti">Tiêu đề thông báo (*):</label>
                                    <input type="text" id="title-noti" value="{{notification.title}}" name="title" class="noti__input" rules="required|min:10|max:130" placeholder="Tiêu đề thông báo">
                                    <span class="form-message"></span>
                                </div>

                                <div class="form-group">
                                    <label for="signin-phone">Đường dẫn file thông báo (*):</label>
                                    <div class="input-file-url d-flex align-items-center border border-black p-2">
                                        <p class="mb-0 me-2">https://docs.google.com/document/d/e/</p>
                                        <input type="text" id="signin-phone" value="{{notification.fileUrl}}" name="fileUrl" class="noti__input" rules="required" placeholder="Đường dẫn file thông báo">
                                    </div>
                                    <span class="form-message"></span>
                                </div>

                                <a href="/notification/info" class="mb-2">Cách lấy đường dẫn của file trong google docs</a>

                                <label for="">Xem trước:</label>
                                <div class="file-import-review py-4 mb-4">
                                    <h5>File thông báo</h5>
                                    <iframe src="https://docs.google.com/document/d/e/{{notification.fileUrl}}?embedded=true"></iframe>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary form" type="button">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="d-flex justify-content-center text-center">
            <p class="footer-text mb-0">
                © 2025 Trường THPT Duy Tân, Phường Quảng Phú, TP. Đà Nẵng.
            </p>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


{{#if (eq notification.type 'text')}}
<script src="/validationForm.js" onload="varidator('.create-noti-form')"></script>
{{else}}
<script src="/validationForm.js" onload="varidator('.create-noti-form.t')"></script>
{{/if}}

<script type="module">
    import { fetchAsync } from '/fetchAsync.js';
    window.fetchAsync = fetchAsync;

    window.addEventListener('load', function () {
        document.getElementById('body-app').style.overflowY = 'auto';
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.card-body .content').style.display = 'block';
    });

    const fileUrlInp = document.querySelector(".box-submit-2 input[name='fileUrl']");
    if(fileUrlInp) {
        const fileOutput = document.querySelector(".file-import-review iframe");
        fileUrlInp.onchange = (e) => {
            fileOutput.src = "https://docs.google.com/document/d/e/" + e.target.value + "?embedded=true";
        }
    }

    const getForm = (element, selector) => {
        while (element.parentElement) {
        if (element.parentElement.matches(selector)) {
            return element.parentElement;
        }
        element = element.parentElement;
        }
    }

    const checkInput = (inputs) => {
        let ok = true;
        inputs.forEach(inp => {
            if(inp.value === "") {
                ok = false;
                inp.parentElement.classList.add("invalid");
            }
        })

        return ok;
    }

    const btnSubmits = document.querySelectorAll("form button.form");
    btnSubmits.forEach(btn => {
        btn.onclick = async () => {
            const form = getForm(btn, ".create-noti-form");
            const allInput = form.querySelectorAll(".noti__input")
            if(!checkInput(allInput)) {
                toastMessage("Thông báo", "Vui lòng nhập giá trị", "error", 6000, "❌", 1000);
                return;
            }
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());
            const currUrl = window.location.href;
            const strUrls = currUrl.split('/')
            data.id = strUrls[strUrls.length - 1];
            const result = await fetchAsync('/notification/update-noti', 'POST', data, null, true);
            if(result.isSuccess) {
                toastMessage("Thông báo", result.message, "success", 6000, "✅", 1000);
            } else {
                toastMessage("Thông báo", result.message, "error", 6000, "❌", 1000);
            }

            setTimeout(() => {
                const currUrl = window.location.origin;
                window.location.href = currUrl + "/notification";
            }, 3000)
        }
    })
</script>
