<head>
    <title>Đăng Ký Tổ Hợp | Trường Học</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/school-detail.css">
</head>

<div id="master" style="height: 100%;">
    <div class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752812401/school_banner_second_new_un0i6r.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="content" style="display: none;">
            <div class="content-box">
                <div class="box-content-1 mt-0">
                    <div class="img-activity-container main-school">
                        <div class="img-act-box main-school">
                        </div>
                        <div class="text text-center">
                            <div class="text-child content-1 hidden">
                                <h3 class="fw-bold">Thông tin trường học</h3>
                                <p>
                                    Trường Trung học phổ thông (THPT) Duy Tân là một cơ sở giáo dục công lập tọa lạc tại Phường Quảng Phú, TP. Đà Nẵng. 
                                    Được thành lập vào năm 2010 theo Quyết định số 1119/QĐ-UBND của UBND tỉnh Quảng Nam (cũ), trường nhằm tạo điều kiện thuận lợi 
                                    cho việc học tập của học sinh tại các xã phường như: Phường Quảng Phú, phường Tam Kỳ, phường Hương Trà, phường Bàn Thạch, xã Thăng Trường, xã Tam Xuân.
                                </p>
                            </div>
                        </div>
                        <div class="img-box d-flex align-items-center flex-column mt-4">
                            <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1752892084/phoca_thumb_l_img_0188_ucfe6j.jpg" data-lightbox="school" title="Trường học giai đoạn đầu" data-title="Trường học giai đoạn đầu">
                                <img class="rounded-3 img-1 hidden" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752892084/phoca_thumb_l_img_0188_ucfe6j.jpg" alt="">
                            </a>
                            <p class="text-center mt-2">Trường học giai đoạn đầu</p>
                        </div>
                    </div>
                    <div class="container rep-box-1">
                        <div class="text-child">
                            <h3 class="fw-bold">Thông tin trường học</h3>
                            <p>
                                Trường Trung học phổ thông (THPT) Duy Tân là một cơ sở giáo dục công lập tọa lạc tại Phường Quảng Phú, TP. Đà Nẵng. 
                                Được thành lập vào năm 2010 theo Quyết định số 1119/QĐ-UBND của UBND tỉnh Quảng Nam (cũ), trường nhằm tạo điều kiện thuận lợi 
                                cho việc học tập của học sinh tại các xã phường như: Phường Quảng Phú, phường Tam Kỳ, phường Hương Trà, phường Bàn Thạch, xã Thăng Trường, xã Tam Xuân.
                            </p>
                        </div>
                        <div class="img-box d-flex align-items-center flex-column mt-4">
                            <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1752892084/phoca_thumb_l_img_0188_ucfe6j.jpg" data-lightbox="school-old" title="Trường học giai đoạn đầu" data-title="Trường học giai đoạn đầu">
                                <img class="rounded-3" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752892084/phoca_thumb_l_img_0188_ucfe6j.jpg" alt="">
                            </a>
                            <p class="text-center mt-2">Trường học giai đoạn đầu</p>
                        </div>
                    </div>
                </div>
                <div class="box-content-2">
                    <div class="container hidden">
                        <p>
                            Trong những năm đầu hoạt động, trường chưa có cơ sở riêng và phải mượn cơ sở cũ của Trường THCS Lý Thường Kiệt tại thôn Phú Thạnh, xã Tam Phú (cũ) để tổ chức dạy học. 
                            Đến tháng 8 năm 2016, trường mới chuyển về cơ sở mới tại thôn Ngọc Mỹ, xã Tam Phú (cũ).
                        </p>
                        <div class="swiper">
                        <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893681/phoca_thumb_l_19_jmu4ho.jpg" data-lightbox="duy-tan" data-title="Sân trường THPT Duy Tân">
                                        <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893681/phoca_thumb_l_19_jmu4ho.jpg" alt="Sân trường THPT Duy Tân" title="Sân trường THPT Duy Tân">
                                    </a>
                                    <p class="text-center mt-2">Sân trường THPT Duy Tân</p>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893668/480803501_1102756831655840_1774382575399294088_n.jpg_ajindo.jpg" data-lightbox="duy-tan" data-title="Trường THPT Duy Tân từ trên cao">
                                        <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893668/480803501_1102756831655840_1774382575399294088_n.jpg_ajindo.jpg" alt="Trường THPT Duy Tân từ trên cao" title="Trường THPT Duy Tân từ trên cao">
                                    </a>
                                    <p class="text-center mt-2">Trường THPT Duy Tân từ trên cao</p>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893676/phoca_thumb_l_12_vphbn6.jpg" data-lightbox="duy-tan" data-title="Sân trường THPT Duy Tân">
                                        <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893676/phoca_thumb_l_12_vphbn6.jpg" alt="Sân trường THPT Duy Tân" title="Sân trường THPT Duy Tân">
                                    </a>
                                    <p class="text-center mt-2">Sân trường THPT Duy Tân</p>
                                </div>
                                <div class="swiper-slide">
                                    <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893673/73141113_730983574035387_2818179285607514112_n.jpg_plvcef.jpg" data-lightbox="duy-tan" data-title="Trường THPT Duy Tân từ trên cao">
                                        <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752893673/73141113_730983574035387_2818179285607514112_n.jpg_plvcef.jpg" alt="Trường THPT Duy Tân từ trên cao" title="Trường THPT Duy Tân từ trên cao">
                                    </a>
                                    <p class="text-center mt-2">Trường THPT Duy Tân từ trên cao</p>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="box-content-3">
                    <div class="container">
                        <p class="hidden content-3">
                            Trải qua 15 năm phát triển, Trường THPT Duy Tân đã mở rộng quy mô đáng kể. 
                            Năm học 2024–2025, trường có 32 lớp với 1.256 học sinh và đội ngũ gần 80 cán bộ, giáo viên. 
                            Địa bàn tuyển sinh của trường bao gồm các xã/phường như phường Quảng Phú, phường Tam Kỳ, phường Hương Trà, phường Bàn Thạch và mở rộng đến xã Thăng Trường và xã Tam Xuân.
                        </p>
                        <div class="img-box d-flex align-items-center mt-4">
                            <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179562/BE_GIANG_DT_38_sjlsqx.jpg" data-lightbox="school-activities" data-title="Bế giảng năm học 2024-2025">
                                <img class="first rounded-3 hidden" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179562/BE_GIANG_DT_38_sjlsqx.jpg" alt="">
                            </a>
                            <a href="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179568/BE_GIANG_DT_247_k6rm0i.jpg" data-lightbox="school-activities" data-title="Tất cả giáo viên trường THPT Duy Tân">
                                <img class="second rounded-3 hidden" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749179568/BE_GIANG_DT_247_k6rm0i.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box-content-4">
                    <div class="container mb-4 hidden">
                        <h4 class="text-center fw-bold">Hoạt động dành cho học sinh</h4>
                        <p>
                            Bên cạnh việc học tập, Trường THPT Duy Tân luôn chú trọng phát triển toàn diện cho học sinh thông qua nhiều hoạt động ngoại khóa phong phú như: 
                            hội trại truyền thống, câu lạc bộ học thuật, thể thao, văn nghệ và các chương trình thiện nguyện ý nghĩa. 
                            Những sân chơi này không chỉ giúp học sinh thư giãn mà còn rèn luyện kỹ năng sống, tinh thần đồng đội và sự tự tin.
                        </p>
                        <p>Dưới đây là một số hình ảnh tiêu biểu ghi lại khoảnh khắc đáng nhớ trong các hoạt động tại trường:</p>
                    </div>
                    <div class="img-activity-container">
                        <div class="img-act-box">
                        </div>
                        <div class="text text-center">
                            <div class="text-child content-1 hidden">
                                <h3 class="fw-bold">Nghệ thuật</h3>
                                <p>
                                    Hoạt động văn nghệ là điểm nhấn nổi bật trong đời sống học đường tại Trường THPT Duy Tân. Hàng năm, 
                                    nhà trường tổ chức nhiều chương trình biểu diễn như Hội diễn chào mừng năm học mới, Văn nghệ tri ân thầy cô 20/11, và Tết xuân yêu thương. 
                                    Các tiết mục do chính học sinh biên tập và thể hiện, từ múa, hát, nhạc kịch đến biểu diễn nhạc cụ dân tộc và hiện đại.
                                </p>
                            </div>
                        </div>
                        <div id="student-dance-imgBox" class="swiper img-1 hidden">
                            <div class="swiper-wrapper">
                            {{#each imgStudentDancings}}
                                <div class="swiper-slide">
                                    <a href="{{this.imgUrl}}" data-lightbox="dance" data-title="{{this.description}}">
                                        <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                    </a>
                                    <p class="text-center mt-2">{{this.description}}</p>
                                </div>
                            {{/each}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="img-activity-container-rep">
                        <div class="text text-center">
                            <div class="text-child content-1 hidden">
                                <h3 class="fw-bold">Nghệ thuật</h3>
                                <p>
                                    Hoạt động văn nghệ là điểm nhấn nổi bật trong đời sống học đường tại Trường THPT Duy Tân. Hàng năm, 
                                    nhà trường tổ chức nhiều chương trình biểu diễn như Hội diễn chào mừng năm học mới, Văn nghệ tri ân thầy cô 20/11, và Tết xuân yêu thương. 
                                    Các tiết mục do chính học sinh biên tập và thể hiện, từ múa, hát, nhạc kịch đến biểu diễn nhạc cụ dân tộc và hiện đại.
                                </p>
                            </div>
                        </div>
                        <div id="student-dance-imgBox" class="swiper img-1 hidden" style="position: unset;">
                            <div class="swiper-wrapper">
                            {{#each imgStudentDancings}}
                                <div class="swiper-slide">
                                    <a href="{{this.imgUrl}}" data-lightbox="dance-rep" data-title="{{this.description}}">
                                        <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                    </a>
                                    <p class="text-center mt-2">{{this.description}}</p>
                                </div>
                            {{/each}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="img-activity-container camp">
                        <div class="text text-center">
                            <div class="text-child content-1 hidden">
                                <h3 class="fw-bold">Hội trại truyền thống</h3>
                                <p>
                                    Tuy không diễn ra thường niên, nhưng mỗi kỳ hội trại tại Trường THPT Duy Tân luôn để lại dấu ấn sâu đậm trong lòng học sinh. 
                                    Được tổ chức vào những dịp đặc biệt như kỷ niệm thành lập trường, Ngày Thành lập Đoàn 26/3 hoặc các sự kiện trọng đại, 
                                    hội trại là cơ hội để học sinh được hòa mình vào không khí sôi động với các hoạt động: dựng trại theo chủ đề, trò chơi dân gian, 
                                    nét đẹp doàn viên và đêm lửa trại đầy cảm xúc.
                                </p>
                            </div>
                        </div>
                        <div class="img-act-box camp">
                        </div>
                        <div id="student-dance-imgBox" class="swiper camp img-1 hidden">
                            <div class="swiper-wrapper">
                            {{#each imgStudentCampings}}
                                <div class="swiper-slide">
                                    <a href="{{this.imgUrl}}" data-lightbox="camp" data-title="{{this.description}}">
                                        <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                    </a>
                                    <p class="text-center mt-2">{{this.description}}</p>
                                </div>
                            {{/each}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="img-activity-container-rep camp">
                        <div class="text text-center">
                            <div class="text-child hidden content-2">
                                <h3 class="fw-bold">Hội trại truyền thống</h3>
                                <p>
                                    Tuy không diễn ra thường niên, nhưng mỗi kỳ hội trại tại Trường THPT Duy Tân luôn để lại dấu ấn sâu đậm trong lòng học sinh. 
                                    Được tổ chức vào những dịp đặc biệt như kỷ niệm thành lập trường, Ngày Thành lập Đoàn 26/3 hoặc các sự kiện trọng đại, 
                                    hội trại là cơ hội để học sinh được hòa mình vào không khí sôi động với các hoạt động: dựng trại theo chủ đề, trò chơi dân gian, 
                                    nét đẹp doàn viên và đêm lửa trại đầy cảm xúc.
                                </p>
                            </div>
                        </div>

                        <div id="student-dance-imgBox" class="swiper camp hidden img-2" style="position: unset;">
                            <div class="swiper-wrapper">
                            {{#each imgStudentCampings}}
                                <div class="swiper-slide">
                                    <a href="{{this.imgUrl}}" data-lightbox="camp-rep" data-title="{{this.description}}">
                                        <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                    </a>
                                    <p class="text-center mt-2">{{this.description}}</p>
                                </div>
                            {{/each}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="img-activity-container activity">
                        <div class="img-act-box activity">
                        </div>
                        <div class="text text-center">
                            <div class="text-child img-2 hidden">
                                <h3 class="fw-bold">Những hoạt động khác</h3>
                                <p>  
                                    Ngoài văn nghệ và hội trại, Trường THPT Duy Tân còn tổ chức nhiều hoạt động ngoại khóa đa dạng nhằm phát triển kỹ năng mềm và nuôi dưỡng tinh thần trách nhiệm 
                                    trong học sinh. Các chương trình tiêu biểu có thể kể đến như: các câu lạc bộ học thuật – thể thao, cuộc thi hùng biện, sáng tạo khoa học, 
                                    các buổi sinh hoạt chuyên đề kỹ năng sống, và các chương trình thiện nguyện vì cộng đồng.
                                </p>
                            </div>
                        </div>

                        <div id="student-dance-imgBox" class="swiper activity content-2 hidden">
                            <div class="swiper-wrapper">
                            {{#each imgStudentActivitys}}
                                <div class="swiper-slide">
                                    <a href="{{this.imgUrl}}" data-lightbox="activity" data-title="{{this.description}}">
                                        <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                    </a>
                                    <p class="text-center mt-2">{{this.description}}</p>
                                </div>
                            {{/each}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="img-activity-container-rep activity">
                        <div class="text text-center">
                            <div class="text-child content-2 hidden">
                                <h3 class="fw-bold">Những hoạt động khác</h3>
                                <p>
                                    Ngoài văn nghệ và hội trại, Trường THPT Duy Tân còn tổ chức nhiều hoạt động ngoại khóa đa dạng nhằm phát triển kỹ năng mềm và nuôi dưỡng tinh thần trách nhiệm 
                                    trong học sinh. Các chương trình tiêu biểu có thể kể đến như: các câu lạc bộ học thuật – thể thao, cuộc thi hùng biện, sáng tạo khoa học, 
                                    các buổi sinh hoạt chuyên đề kỹ năng sống, và các chương trình thiện nguyện vì cộng đồng.
                                </p>
                            </div>
                        </div>

                        <div id="student-dance-imgBox" class="swiper activity img-2 hidden" style="position: unset;">
                            <div class="swiper-wrapper">
                            {{#each imgStudentActivitys}}
                                <div class="swiper-slide">
                                    <a href="{{this.imgUrl}}" data-lightbox="activity-rep" data-title="{{this.description}}">
                                        <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                    </a>
                                    <p class="text-center mt-2">{{this.description}}</p>
                                </div>
                            {{/each}}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="trophi-container">
                    <div class="title text-center container hidden">
                        <h4 class="fw-bold mt-4">Thành tích nổi bật – Niềm tự hào của nhà trường</h4>
                        <p>
                            Năm học vừa qua, trường chúng tôi đã bồi dưỡng và đưa nhiều học sinh tham gia các kỳ thi học sinh giỏi cấp thành phố. 
                            Kết quả đạt được vô cùng ấn tượng:
                        </p>
                        <ul class="text-start">
                            <li>Nhiều giải Nhất, Nhì, Ba, Khuyến khích ở các môn Toán, Văn, Anh, Lý, Hóa, Địa...(01 giải Nhất; 02 giải Nhì, 08 giải Ba và 08 giải Khuyến khích)</li>
                            <div class="dash-height"></div>
                            <div class="dash-width"></div>
                            <li>Học sinh không chỉ giỏi kiến thức mà còn được rèn luyện tư duy và kỹ năng làm bài chuyên sâu.</li>
                            <div class="dash-height"></div>
                            <div class="dash-width"></div>
                            <li>Thành tích này là minh chứng rõ ràng cho chất lượng giảng dạy và sự đầu tư đúng hướng của nhà trường trong suốt thời gian qua.</li>
                        </ul>
                    </div>
                    <div class="swiper content-1 hidden">
                        <div class="swiper-wrapper">
                        {{#each studentAchievements}}
                            <div class="swiper-slide">
                                <a href="{{this.imgUrl}}" data-lightbox="studentAchievements" data-title="{{this.description}}">
                                    <img src="{{this.imgUrl}}" alt="{{this.description}}" title="{{this.description}}">
                                </a>
                                <p class="text-center mt-2">{{this.description}}</p>
                            </div>
                        {{/each}}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="box-content-info">
                    <div class="container hidden">
                        <div class="title">
                            <h4 class="fw-bold">Môi trường học tập năng động – Nền tảng vững chắc cho tương lai</h4>
                        </div>
                        <div class="info">
                            <ul class="ds-data">
                                <li class="data">
                                    <div class="content">
                                        <h2>400+</h2>
                                        <p>Học sinh xuất sắc, giỏi</p>
                                    </div>
                                </li>
                                <div class="dash-width"></div>
                                <li class="data">
                                    <div class="content">
                                        <h2>75+</h2>
                                        <p>Cán bộ, giáo viên</p>
                                    </div>
                                </li>
                                <div class="dash-width"></div>
                                <li class="data">
                                    <div class="content">
                                        <h2>1250+</h2>
                                        <p>Học sinh theo học</p>
                                    </div>
                                </li>
                                <div class="dash-width"></div>
                                <li class="data">
                                    <div class="content">
                                        <h2>32</h2>
                                        <p>Lớp học</p>
                                    </div>
                                </li>
                            </ul>
                            <i><i class="fa-solid fa-circle-info" title="Thông tin từ năm học 2024 - 2025"></i> Thông tin từ năm học 2024-2025</i>
                        </div>
                    </div>
                </div>

                <div class="container box-content-6 d-flex justify-content-center align-items-center flex-column">
                    <div class="content hidden">
                        <h3 id="map-title">Bản đồ vị trí trường THPT Duy Tân</h3>
                    </div>
                    <iframe
                        id="map-iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3842.6758102883787!2d108.51776259105357!3d15.608960482582859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3169db8400000001%3A0xc4af2f531194cbc1!2zVHLGsOG7nW5nIFRIUFQgRHV5IFTDom4!5e0!3m2!1svi!2s!4v1752226085649!5m2!1svi!2s"
                        width="1000"
                        height="600"
                        style="border:0;"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    >
                    </iframe>
                </div>

                <div class="box-content-5">
                    <div class="container hidden">
                        <div class="content">
                            <h3 class="text-center">Cuối cùng</h3>
                            <p>
                                Với những nỗ lực không ngừng trong việc nâng cao chất lượng giáo dục và phát triển toàn diện cho học sinh, 
                                Trường THPT Duy Tân đã trở thành một trong những trường THPT có uy tín.
                            </p>
                        </div>
                        <p>Tìm hiểu thêm về trường học tại:</p>
                        <div class="list_link mb-4">
                            <a class="btn-sm" target="_blank" href="http://thptduytan.edu.vn/index.php/trang-ch/gii-thiu-v-trng">Giới thiệu trường học</a>
                            <a class="btn-sm" target="_blank" href="http://thptduytan.edu.vn/index.php/tin-tc/bn-tin-trng/766-l-b-ging-nm-hc-2024-2025">Lễ bế giảng năm học 2024-2025</a>
                            <a class="btn-sm" target="_blank" href="http://thptduytan.edu.vn/index.php/tin-tc/bn-tin-trng">Bản tin trường</a>
                            <a class="btn-sm" target="_blank" href="http://thptduytan.edu.vn/ooffice/sachthuvien/">Tra cứu sách thư viện</a>
                            <a class="btn-sm" target="_blank" href="http://thptduytan.edu.vn/index.php/c-cu-t-chc/ban-giam-hiu">Ban giám hiệu</a>
                            <a class="btn-sm" target="_blank" href="https://clevai.edu.vn/hieu-con-yeu/danh-gia-truong-thpt-duy-tan-quang-nam-co-tot-khong/">Duy Tân có tốt không?</a>
                        </div>
                        <p>Các thông tin liên quan:</p>
                        <div class="list_link">
                            <a class="btn-sm" target="_blank" href="http://thptduytan.edu.vn">Website Trường THPT Duy Tân</a>
                            <a class="btn-sm" target="_blank" href="https://www.facebook.com/duytantk">Fanpage Trường THPT Duy Tân</a>
                            <a class="btn-sm" href="tel:02353841942">Hotline: 0235.3841.942</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="d-flex justify-content-center text-center">
            <p class="footer-text mb-0">
                © 2025 Trường THPT Duy Tân, Phường Quảng Phú, TP. Đà Nẵng.
            </p>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    window.addEventListener('load', function () {
        document.getElementById('body-app').style.overflowY = 'auto';
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.card-body .content').style.display = 'block';
    });

    const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();

    litSidebars.forEach((li) => {
        if(li.getAttribute('value') === 'Trường học') {
            li.parentElement.classList.add('active');
        } else {
            li.parentElement.classList.remove('active');
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
  })

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if(entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    })
  })

  const hiddenElements = document.querySelectorAll('.hidden');
  hiddenElements.forEach((el) => observer.observe(el));

  const swiper = new Swiper('.swiper', {
    loop: true,
    
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },

    pagination: {
      el: '.swiper-pagination',
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
