<head>
    <title>Đăng Ký Tổ Hợp | Trang Cá Nhân</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<div id="master">
    <div class="box-radius shadow">
        <div class="d-flex align-items-between justify-content-start">
            <h4 class="mb-0">Trang cá nhân</h4>
        </div>
        <div class="mb-3 d-flex justify-content-center align-items-center">
            <div class="card-body-profile my-4">
                <div class="info-top containers mb-3 d-flex justify-content-center align-items-center">
                    <a href="{{user.avatar}}" data-lightbox="user" data-title="Ảnh đại diện cá nhân">
                        <img
                        class="profile-img-user mt-2"
                        src="{{user.avatar}}"
                        alt="User"
                        />
                    </a>
                </div>
                <div class="info profile-dad-name">
                    <div class="info-sub mt-10 containers">
                        <div class="profile-dad-name mb-2">
                            <label for="profile-name-input" class="form-label-profile">Họ và tên:</label>
                            <h4 class="profile-name-user">
                            {{user.fullName}}
                            </h4>
                        </div>
                        <div class="info-bt mb-3">
                            <label for="profile-phone-input" class="form-label-profile">Số điện thoại:</label>
                            <p class="profile-phone-user mb-2">{{user.phone}}</p>
                        </div>
                    </div>
                    <div class="btn-edit d-flex">
                        <a href="/me/profile/edit" class="btn btn-secondary btn-lg">Chỉnh sửa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="d-flex justify-content-center text-center">
            <p class="footer-text mb-0">
                © 2025 Trường THPT Duy Tân, Phường Quảng Phú, TP. Đà Nẵng.
            </p>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        document.getElementById('body-app').style.overflowY = 'auto';
        if({{{showToast}}}) {
            const textMessage = localStorage.getItem('textMessage')
            const typeToast = localStorage.getItem('typeToast')
            const toastIcon = localStorage.getItem('toastIcon')
            toastMessage("Thông báo", textMessage, typeToast, 6000, toastIcon, 1000);
        }
    })
    const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();

    litSidebars.forEach((li) => {
        if(li.getAttribute('value') === 'profile') {
            li.parentElement.classList.add('active');
        } else {
            li.parentElement.classList.remove('active');
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
    })
</script>