<head>
    <title>Đăng Ký Tổ Hợp | Chọn Tổ Hợp</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
    <link rel="stylesheet" href="/css/submit-combination.css">
    <link rel="stylesheet" href="/css/bar-step.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
</head>

<div id="master">
    <div id="banner" class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752812401/school_banner_second_new_un0i6r.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div id="card-body" class="card-body submit">
        <div class="content position-relative" style="display:none;">
            <div class="box-radius step shadow">
                <div class="step-container">
                    <div class="progress_bar">
                        <ul class="progress_bar-steps">
                            <li class="progress_bar-progress"></li>
                            <li class="progress_bar-step active">
                                <span>1</span>
                                <div class="step-label">
                                    <p id="tittle-step-1">Đọc thông tin</p>
                                </div>
                            </li>
                            <li class="progress_bar-step">
                                <span>2</span>
                                <div class="step-label">
                                    <p id="tittle-step-2">Nhập thông tin đăng ký</p>
                                </div>
                            </li>
                            <li class="progress_bar-step">
                                <span>3</span>
                                <div class="step-label">
                                    <p id="tittle-step-3">Chọn tổ hợp</p>
                                </div>
                            </li>
                            <li class="progress_bar-step">
                                <span>4</span>
                                <div class="step-label">
                                    <p id="tittle-step-4">Xác nhận thông tin</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="box-radius shadow box-submit-1" style="display: {{#if (includes 'box-submit-1' step)}}block{{else}}none{{/if}};">
                <div class="title d-flex align-items-between justify-content-start">
                    <h4 class="mb-0 me-auto">Đọc thông tin đăng ký tổ hợp</h4>
                    <div class="button d-flex">
                        <button type="button" class="btn btn-primary ms-auto" id="btnNextStep" data-bs-toggle="modal" data-bs-target="#exampleModalLive" disabled>
                            Tiếp tục
                        </button>
                    </div>
                </div>
                <div>
                    <div class="card-body" style="font-size: 17px;">
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Đối tượng đăng ký:</p>
                            <ul>
                                <li>Học sinh lớp 9 lên lớp 10 tại các xã/phường như: <b>Phường Quảng Phú, phường Tam Kỳ, phường Hương Trà, phường Bàn Thạch, xã Thăng Trường, xã Tam Xuân</b>.</li>
                                <li>Học sinh đang học tại các trường THCS công lập, ngoài công lập hoặc tương đương.</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Thời gian đăng ký:</p>
                            <ul>
                                <li>Thời gian bắt đầu: <b>15/08/2025</b>.</li>
                                <li>Thời gian kết thúc: <b>29/08/2025</b>.</li>
                                <li>Lưu ý: Không đăng ký sau thời gian quy định.</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Cách thức đăng ký:</p>
                            <ul>
                                <li>Đăng ký trực tuyến trên website này.</li>
                                <li>Chọn hai nguyện vọng theo thứ tự ưu tiên.</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Tổ hợp môn xét tuyển:</p>
                            <ul>
                                <li>Mỗi trường có thể có tổ hợp môn riêng (Toán - Văn - Anh, Toán - Lý - Hóa,...).</li>
                                <li>Cần tìm hiểu kỹ trước khi chọn nguyện vọng.</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Lưu ý khi đăng ký:</p>
                            <ul>
                                <li>Không thể chọn 2 nguyện vọng giống nhau.</li>
                                <li>Ưu tiên nguyện vọng 1 nếu có điểm chuẩn bằng nhau.</li>
                                <li>Có thể chỉnh sửa trong thời gian đăng ký, nhưng nên kiểm tra kỹ trước khi lưu.</li>
                            </ul>
                        </div>
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkReaded">
                                <label class="form-check-label" for="checkReaded" style="cursor:pointer;"><span>Tôi đã đọc và đồng ý với các lưu ý trên</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-radius shadow box-submit-2" style="display: {{#if (includes 'box-submit-2' step)}}block{{else}}none{{/if}};">
                <div class="title d-flex align-items-center mb-3">
                    <h4 class="mb-0 me-auto">Nhập thông tin đăng ký</h4>
                    <div class="button d-flex">
                        <button type="button" class="btn btn-primary me-3" id="btnPrevStep" style="display: {{#if (includes 'box-submit-2' step)}}none{{else}}block{{/if}};">
                            Trở lại
                        </button>
                        <button type="button" class="btn btn-primary" id="btnNextStep" data-bs-toggle="modal" data-bs-target="#exampleModalLive">
                            Tiếp tục
                        </button>
                    </div>
                </div>
                <legend class="text-center fw-bold mb-4 title">HỒ SƠ ĐĂNG KÝ VÀO LỚP 10</legend>

                <div class="col col-md-4 avatar mb-3 d-flex flex-column ps-0">
                    <label><b>Chọn ảnh thẻ:</b></label>
                    <div class="row mb-3">
                        <div class="d-flex flex-column avatar-img">
                            <div class="imgBoderFake" style="display: {{#if submitedDetail}}none{{else}}flex{{/if}};"><p>3x4</p></div>
                            <img id="resultImage" class="col col-md-2 ps-0" src="{{submitedDetail.avatarLink}}" style="max-width:200px; display:{{#if submitedDetail}}block{{else}}none{{/if}};">
                            <input type="file" class="mt-3" id="inputImage" accept="image/*" required>
                            <button id="recropBtn" class="mt-4 btn btn-primary" type="button" style="display:none;">Cắt lại</button>
                        </div>
                        <input id="input-get-data" type="text" value="{{submitedDetail.avatarLink}}" name="avatarLink" style="display: none;">
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <div class="d-flex align-items-start flex-column">
                            <label id="input-name" for="inputName"><b>Họ và tên học sinh:</b></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                <input value="{{submitedDetail.fullName}}" id="inputName" type="text" class="form-control" placeholder="Họ và tên học sinh" aria-label="Họ và tên học sinh" name="fullName" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputName"><b>Giới tính:</b></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-venus-mars"></i></span>
                            <select class="form-select" id="inputGroupSelect01" name="gender" aria-label="Default select example" required>
                                {{#if submitedDetail}}
                                    <option value="">--Giới tính--</option>
                                    <option {{#if (eq 'Nam' submitedDetail.gender)}} selected {{/if}} value="Nam">Nam</option>
                                    <option {{#if (eq 'Nữ' submitedDetail.gender)}} selected {{/if}} value="Nữ">Nữ</option>
                                {{else}}
                                    <option selected value="">--Giới tính--</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                {{/if}}
                            </select>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputGroupSelect01"><b>Dân tộc:</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-person"></i></span>
                            <select class="form-select" id="inputGroupSelect01" name="nation" aria-label="Default select example" required>
                                {{#if submitedDetail}}
                                    <option value="">--Dân tộc--</option>
                                    {{#each nations}}
                                        <option {{#if (eq this.name ../submitedDetail.nation)}} selected {{/if}} value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                {{else}}
                                        <option selected value="">--Dân tộc--</option>
                                    {{#each nations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                {{/if}}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputName"><b>Ngày tháng năm sinh:</b></label>
                        <div class=" input-group form-group-datepicker mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
                            <input value="{{submitedDetail.dateOfBirth}}" type="text" class="form-control" id="datepicker" class="login__input" name="dateOfBirth" rules="required" aria-describedby="basic-addon1" placeholder="Ngày tháng năm sinh">
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="col">
                        <label for="inputName"><b>Nơi sinh:</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                            <input value="{{submitedDetail.placeOfBirth}}" type="text" class="form-control" placeholder="Nơi sinh" name="placeOfBirth" aria-label="Nơi sinh" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="inputName"><b>Nơi ở hiện tại:</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-house"></i></span>
                            <input value="{{submitedDetail.currentPlace}}" type="text" class="form-control" placeholder="Nơi ở hiện tại" name="currentPlace" aria-label="Nơi ở hiện tại" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputName"><b>Trường học cấp 2:</b></label>
                        <div class="d-flex school-result">
                            <b class="secondary-school-choosen fw-normal me-4" style="display: {{#if submitedDetail}}block{{else}}none{{/if}};">{{submitedDetail.secondarySchool}}, {{submitedDetail.schoolDistrict}}, TP. Đà Nẵng</b>
                            <button type="button" class="btn btn-primary btn-show-modal-school">
                            Chọn trường cấp 2
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <div class="d-flex align-items-start flex-column">
                            <label for="inputName"><b>Họ và tên cha:</b></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                <input value="{{submitedDetail.fullNameDad}}" id="inputName" type="text" class="form-control" placeholder="Họ và tên cha" aria-label="Họ và tên học sinh" name="fullNameDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputName"><b>Nghề nghiệp:</b></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-suitcase"></i></span>
                            <input value="{{submitedDetail.jobOfDad}}" id="inputName" type="text" class="form-control" placeholder="Nghề nghiệp" aria-label="Họ và tên học sinh" name="jobOfDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputGroupSelect01"><b>Số điện thoại:</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                            <input value="{{submitedDetail.phoneOfDad}}" id="inputName" type="text" class="form-control" placeholder="Số điện thoại" aria-label="Họ và Tên học sinh" name="phoneOfDad" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <div class="d-flex align-items-start flex-column">
                            <label for="inputName"><b>Họ và tên mẹ:</b></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                <input value="{{submitedDetail.fullNameMom}}" id="inputName" type="text" class="form-control" placeholder="Họ và tên mẹ" aria-label="Họ và tên học sinh" name="fullNameMom" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputName"><b>Nghề nghiệp:</b></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-suitcase"></i></span>
                            <input value="{{submitedDetail.jobOfMom}}" id="inputName" type="text" class="form-control" placeholder="Nghề nghiệp" aria-label="Họ và Tên học sinh" name="jobOfMom" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                        </div>
                    </div>

                    <div class="col d-flex align-items-start flex-column">
                        <label for="inputGroupSelect01"><b>Số điện thoại:</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                            <input value="{{submitedDetail.phoneOfMom}}" id="inputName" type="text" class="form-control" placeholder="Số điện thoại" aria-label="Họ và Tên học sinh" name="phoneOfMom" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div class="row gap-0 column-gap-4">
                    <label for="inputName"><b>Điểm thi xét tuyển THPT năm học 2025–2026:</b></label>
                    <div class="col mb-3">
                        <div class="d-flex align-items-center">
                            <label for="inputName"><b>Toán:</b></label>
                            <input value="{{submitedDetail.mathScore}}" type="number" class="mx-2" step="0.1" min="0" max="10" name="mathScore" placeholder="Toán">
                        </div>
                    </div>

                    <div class="col mb-3">
                        <div class="d-flex align-items-center">
                            <label for="inputName"><b>Văn:</b></label>
                            <input value="{{submitedDetail.literatureScore}}" type="number" class="mx-2" step="0.1" min="0" max="10" name="literatureScore" placeholder="Văn">
                        </div>
                    </div>

                    <div class="col mb-3">
                        <div class="d-flex align-items-center">
                            <label for="inputName"><b>Anh:</b></label>
                            <input value="{{submitedDetail.englishScore}}" type="number" class="mx-2" step="0.1" min="0" max="10" name="englishScore" placeholder="Anh">
                        </div>
                    </div>
                </div>

                <label for="inputName"><b>Kết quả học tập và rèn luyện cấp THCS:</b></label>
                <div class="table-conduct">
                    <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered m-3">
                        <tr>
                            <th rowspan="1">Lớp</th>
                            <th class="class">6</th>
                            <th class="class">7</th>
                            <th class="class">8</th>
                            <th class="class">9</th>
                            <th class="type-graduate">Xếp loại tốt nghiệp THCS</th>
                        </tr>
                        
                        <tr>
                            <td><b>Hạnh kiểm</b></td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="conduct6" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Hạnh kiểm</option>
                                    <option {{#if (eq 'Tốt' submitedDetail.conduct6)}} selected {{/if}} value="Tốt">Tốt</option>
                                    <option {{#if (eq 'Khá' submitedDetail.conduct6)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Yếu' submitedDetail.conduct6)}} selected {{/if}} value="Yếu">Yếu</option>
                                    <option {{#if (eq 'Chưa Đạt' submitedDetail.conduct6)}} selected {{/if}} value="Chưa Đạt">Chưa Đạt</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="conduct7" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Hạnh kiểm</option>
                                    <option {{#if (eq 'Tốt' submitedDetail.conduct7)}} selected {{/if}} value="Tốt">Tốt</option>
                                    <option {{#if (eq 'Khá' submitedDetail.conduct7)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Yếu' submitedDetail.conduct7)}} selected {{/if}} value="Yếu">Yếu</option>
                                    <option {{#if (eq 'Chưa Đạt' submitedDetail.conduct7)}} selected {{/if}} value="Chưa Đạt">Chưa Đạt</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="conduct8" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Hạnh kiểm</option>
                                    <option {{#if (eq 'Tốt' submitedDetail.conduct8)}} selected {{/if}} value="Tốt">Tốt</option>
                                    <option {{#if (eq 'Khá' submitedDetail.conduct8)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Yếu' submitedDetail.conduct8)}} selected {{/if}} value="Yếu">Yếu</option>
                                    <option {{#if (eq 'Chưa Đạt' submitedDetail.conduct8)}} selected {{/if}} value="Chưa Đạt">Chưa Đạt</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="conduct9" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Hạnh kiểm</option>
                                    <option {{#if (eq 'Tốt' submitedDetail.conduct9)}} selected {{/if}} value="Tốt">Tốt</option>
                                    <option {{#if (eq 'Khá' submitedDetail.conduct9)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Yếu' submitedDetail.conduct9)}} selected {{/if}} value="Yếu">Yếu</option>
                                    <option {{#if (eq 'Chưa Đạt' submitedDetail.conduct9)}} selected {{/if}} value="Chưa Đạt">Chưa Đạt</option>
                                </select>
                            </td>
                            <td rowspan="2">
                                <select class="form-select" id="inputGroupSelect01" name="graduationRating" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Xếp loại</option>
                                    <option {{#if (eq 'Giỏi' submitedDetail.graduationRating)}} selected {{/if}} value="Giỏi">Giỏi</option>
                                    <option {{#if (eq 'Khá' submitedDetail.graduationRating)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Trung Bình' submitedDetail.graduationRating)}} selected {{/if}} value="Trung Bình">Trung Bình</option>
                                </select>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><b>Học lực</b></td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="academicRating6" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Xếp loại</option>
                                    <option {{#if (eq 'Giỏi' submitedDetail.academicRating6)}} selected {{/if}} value="Giỏi">Giỏi</option>
                                    <option {{#if (eq 'Khá' submitedDetail.academicRating6)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Trung Bình' submitedDetail.academicRating6)}} selected {{/if}} value="Trung Bình">Trung Bình</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="academicRating7" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Xếp loại</option>
                                    <option {{#if (eq 'Giỏi' submitedDetail.academicRating7)}} selected {{/if}} value="Giỏi">Giỏi</option>
                                    <option {{#if (eq 'Khá' submitedDetail.academicRating7)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Trung Bình' submitedDetail.academicRating7)}} selected {{/if}} value="Trung Bình">Trung Bình</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="academicRating8" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Xếp loại</option>
                                    <option {{#if (eq 'Giỏi' submitedDetail.academicRating8)}} selected {{/if}} value="Giỏi">Giỏi</option>
                                    <option {{#if (eq 'Khá' submitedDetail.academicRating8)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Trung Bình' submitedDetail.academicRating8)}} selected {{/if}} value="Trung Bình">Trung Bình</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="inputGroupSelect01" name="academicRating9" aria-label="Default select example">
                                    <option {{#if submitedDetail}} {{else}} selected {{/if}} value="">Xếp loại</option>
                                    <option {{#if (eq 'Giỏi' submitedDetail.academicRating9)}} selected {{/if}} value="Giỏi">Giỏi</option>
                                    <option {{#if (eq 'Khá' submitedDetail.academicRating9)}} selected {{/if}} value="Khá">Khá</option>
                                    <option {{#if (eq 'Trung Bình' submitedDetail.academicRating9)}} selected {{/if}} value="Trung Bình">Trung Bình</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <label for="inputName"><b>Điểm trung bình các môn học rèn luyện cấp THCS:</b></label>
                <div class="table-avg-poin">
                    <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered m-3">
                        <tr>
                            <th colspan="8" class="px-3">Điểm trung bình môn cả năm lớp 9</th>
                        </tr>
                        <tbody>
                            <td class="subject"><b>Văn</b></td>
                            <td class="subject"><b>Toán</b></td>
                            <td class="subject"><b>Anh</b></td>
                            <td class="subject"><b>Vật lý</b></td>
                            <td class="subject"><b>Hóa học</b></td>
                            <td class="subject"><b>Sinh</b></td>
                            <td class="subject"><b>Sử</b></td>
                            <td class="subject"><b>Địa</b></td>
                        </tbody>
                        <tbody>
                            <td>
                                <input value="{{submitedDetail.avgLiteratureScore}}" type="number" step="0.1" min="0" max="10" name="avgLiteratureScore" placeholder="Văn">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgMathScore}}" type="number" step="0.1" min="0" max="10" name="avgMathScore" placeholder="Toán">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgEnglishScore}}" type="number" step="0.1" min="0" max="10" name="avgEnglishScore" placeholder="Anh">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgPhysicsScore}}" type="number" step="0.1" min="0" max="10" name="avgPhysicsScore" placeholder="Vật Lý">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgChemistryScore}}" type="number" step="0.1" min="0" max="10" name="avgChemistryScore" placeholder="Hoá Học">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgBiologyScore}}" type="number" step="0.1" min="0" max="10" name="avgBiologyScore" placeholder="Sinh">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgHistoryScore}}" type="number" step="0.1" min="0" max="10" name="avgHistoryScore" placeholder="Sử">
                            </td>
                            <td>
                                <input value="{{submitedDetail.avgGeographyScore}}" type="number" step="0.1" min="0" max="10" name="avgGeographyScore" placeholder="Địa">
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box-radius shadow box-submit-3" style="display: none;">
                <div class="title d-flex align-items-center mb-3">
                    <h4 class="mb-0 me-auto">Chọn tổ hợp</h4>
                    <div class="button d-flex">
                        <button type="button" class="btn btn-primary me-3" id="btnPrevStep">
                            Trở lại
                        </button>
                        <button type="button" class="btn btn-primary" id="btnNextStep" data-bs-toggle="modal" data-bs-target="#exampleModalLive">
                            Tiếp tục
                        </button>
                    </div>
                </div>

                <p class="fs-5">Sau khi nghiên cứu các tổ hợp của nhà trường:</p>
                <div class="table-combination">
                    <table class="table table-bordered combination">
                        <thead>
                            <tr>
                            <th scope="col">Tổ hợp</th>
                            <th scope="col" colspan="4">Môn lựa chọn (04 môn)</th>
                            <th scope="col" colspan="3">Cụm chuyên đề (03 môn)</th>
                            <th scope="col">Số lớp</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each combinations}}
                                <tr>
                                    <td scope="row">{{this.name}}</td>
                                    {{#each optionalSubjects}}
                                        <td>{{this.name}}</td>
                                    {{/each}}
                                    {{#each compulsorySubjects}}
                                        <td>{{this.name}}</td>
                                    {{/each}}
                                    <td>{{this.classesCount}}</td>
                                    <td>
                                        <div id-modal="{{this.id}}" class="btn-show-modal"><p class="m-0 text-decoration-underline">Xem Chi Tiết</p></div>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                
                <div id="combination-box-resp">
                    {{#each combinations}}
                        <div class="card mb-3">
                            <div class="card-header">
                                {{this.name}}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">Môn lựa chọn (04 môn)</h6>
                                <ul>
                                    {{#each optionalSubjects}}
                                        <li>{{this.name}}</li>
                                    {{/each}}
                                </ul>
                                <h6 class="card-title">Cụm chuyên đề (03 môn)</h6>
                                <ul>
                                    {{#each compulsorySubjects}}
                                        <li>{{this.name}}</li>
                                    {{/each}}
                                </ul>
                                <h6 class="card-title">Số lớp: {{this.classesCount}}</h6>
                                <div id-modal="{{this.id}}" class="btn-show-modal btn btn-primary"><p class="m-0 text-white">Xem Chi Tiết</p></div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                
                <p class="fs-5 d-flex justify-content-center">Đăng ký tổ hợp theo nguyện vọng:</p>
                <div class="d-flex justify-content-center box-choose-combination">
                    <div class="box-select-1 d-flex">
                        <p class="me-2 fw-bold">Nguyện vọng 1:</p>
                        <div class="input-group mb-3 me-4">
                            <select class="form-select" id="select-combination1" name="combination1" aria-label="Default select example">
                                {{#if submitedDetail}}
                                    <option value="">--Chọn tổ hợp--</option>
                                    {{#each combinations}}
                                        <option {{#if (eq this.name ../submitedDetail.combination1)}} selected {{/if}} value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                {{else}}
                                    <option selected value="">--Chọn tổ hợp--</option>
                                    {{#each combinations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                {{/if}}
                            </select>
                        </div>
                    </div>

                    <div class="box-select-2 d-flex">
                        <p class="me-2 fw-bold">Nguyện vọng 2:</p>
                        <div class="input-group mb-3 me-4">
                            <select class="form-select" id="select-combination2" name="combination2" aria-label="Default select example" {{#if submitedDetail}}{{else}}disabled{{/if}}>
                                {{#if submitedDetail}}
                                    <option value="">--Chọn tổ hợp--</option>
                                    {{#each combinations}}
                                        <option {{#if (eq this.name ../submitedDetail.combination2)}} selected {{/if}} value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                {{else}}
                                    <option selected value="">--Chọn tổ hợp--</option>
                                    {{#each combinations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                {{/if}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-radius shadow box-submit-4" style="display: none;">
                <div class="title d-flex align-items-center mb-3">
                    <h4 class="mb-0 me-auto">Xác nhận thông tin</h4>
                    <div class="button d-flex">
                        <button type="button" class="btn btn-primary me-3 ms-4" id="btnPrevStep">
                            Trở lại
                        </button>
                        <button type="button" class="btn btn-primary" id="btnSubmit" data-bs-toggle="modal" data-bs-target="#exampleModalLive" {{#if (eq role 'manager')}}disabled{{/if}}>
                            Xác nhận
                        </button>
                    </div>
                </div>
                <form id="form-submit-combination">
                    <legend class="text-center fw-bold mb-4 title">HỒ SƠ ĐĂNG KÝ VÀO LỚP 10</legend>
                    <div class="d-flex offical-info">
                        <div class="avatar-info mb-3 ms-3 d-flex flex-column">
                            <label><b>Ảnh thẻ:</b></label>
                            <div class="row mb-3">
                                <div class="d-flex align-items-start flex-column">
                                    <img class="col col-md-2 ps-0 resultImage" style="max-width:200px;">
                                </div>
                                <input class="input-get-data-avatar" type="text" name="avatarLink" style="display: none;">
                            </div>
                        </div>

                        <div class="offical-info gy-3 m-0">
                            <div class="row">
                                <div class="full-name d-flex align-items-start flex-column">
                                    <label class="fw-bold me-2">Họ và tên học sinh:</label>
                                    <h4 class="mb-3"><b class="get-data" name="fullName" style="text-transform: capitalize;font-weight:500;">{{submitedDetail.fullName}}</b></h4>
                                    <input value="{{submitedDetail.fullName}}" type="text" class="input-get-data" name="fullName" style="display:none;">
                                </div>
                                <div class="col d-flex align-items-start flex-column">
                                    <label class="fw-bold">Giới tính: </label>
                                    <b class="mb-3 fw-normal get-data-select" name="gender">{{submitedDetail.gender}}</b>
                                    <input value="{{submitedDetail.gender}}" type="text" class="input-get-data-select" name="gender" style="display:none;">
                                </div>
                                <div class="col d-flex align-items-start flex-column">
                                    <label class="fw-bold">Dân tộc: </label>
                                    <b class="mb-3 fw-normal get-data-select" name="nation">{{submitedDetail.nation}}</b>
                                    <input value="{{submitedDetail.nation}}" type="text" class="input-get-data-select" name="nation" style="display:none;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col d-flex align-items-start flex-column">
                                    <label class="fw-bold">Ngày tháng năm sinh: </label>
                                    <b class="mb-3 fw-normal get-data" name="dateOfBirth" style="text-transform: capitalize;">{{submitedDetail.dateOfBirth}}</b>
                                    <input value="{{submitedDetail.dateOfBirth}}" type="text" class="input-get-data" name="dateOfBirth" style="display:none;">
                                </div>

                                <div class="place-birth pic d-flex align-items-start flex-column">
                                    <label class="fw-bold">Nơi sinh: </label>
                                    <b class="mb-3 fw-normal get-data" name="placeOfBirth" style="text-transform: capitalize;">{{submitedDetail.placeOfBirth}}</b>
                                    <input value="{{submitedDetail.placeOfBirth}}" type="text" class="input-get-data" name="placeOfBirth" style="display:none;">
                                </div>

                                <div class="col combination-1-rep">
                                    <div class="d-flex align-items-start flex-column">
                                        <label class="fw-bold">Nguyện vọng 1:</label>
                                        <b class="get-data-combination1 fw-normal" name="combination1">{{submitedDetail.combination1}}</b>
                                        <input value="{{submitedDetail.combination1}}" type="text" class="input-get-data-combination1" name="combination1" style="display:none;">                       
                                    </div>
                                </div>
                            </div>

                            <div class="row place-box">
                                <div class="place-birth d-flex align-items-start flex-column">
                                    <label class="fw-bold">Trường học cấp 2:</label> 
                                    <b class="mb-3 get-data-schoo fw-normal" name="secondarySchool">{{submitedDetail.secondarySchool}}, {{submitedDetail.schoolDistrict}}, TP. Đà Nẵng</b>
                                    <input value="{{submitedDetail.secondarySchool}}" type="text" class="input-get-data-shool" name="secondarySchool" style="display:none;">
                                </div>

                                <div class="place-birth d-flex align-items-start flex-column">
                                    <label class="fw-bold">Nơi ở hiện tại:</label> 
                                    <b class="mb-3 fw-normal get-data" name="currentPlace" style="text-transform: capitalize;">{{submitedDetail.currentPlace}}</b>
                                    <input value="{{submitedDetail.currentPlace}}" type="text" class="input-get-data" name="currentPlace" style="display:none;">
                                </div>

                                <div class="col combination-1">
                                    <div class="d-flex align-items-start flex-column">
                                        <label class="fw-bold">Nguyện vọng 1:</label>
                                        <b class="get-data-combination1 fw-normal" name="combination1">{{submitedDetail.combination1}}</b>
                                        <input value="{{submitedDetail.combination1}}" type="text" class="input-get-data-combination1" name="combination1" style="display:none;">                       
                                    </div>
                                </div>

                                <div class="col combination-2">
                                    <div class="d-flex align-items-start flex-column">
                                        <label class="fw-bold">Nguyện vọng 2:</label>
                                        <b class="get-data-combination2 fw-normal" name="combination2">{{submitedDetail.combination2}}</b>
                                        <input value="{{submitedDetail.combination2}}" type="text" class="input-get-data-combination2" name="combination2" style="display:none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="place-box-rep">
                        <div class="row">
                            <div class="place-birth d-flex align-items-start flex-column">
                                <label class="fw-bold">Trường học cấp 2:</label> 
                                <b class="mb-3 get-data-school fw-normal" name="secondarySchool">{{submitedDetail.secondarySchool}}, {{submitedDetail.schoolDistrict}}, TP. Đà Nẵng</b>
                                <input value="{{submitedDetail.secondarySchool}}" type="text" class="input-get-data-shool" name="secondarySchool" style="display:none;">
                            </div>

                            <div class="place-birth d-flex align-items-start flex-column">
                                <label class="fw-bold">Nơi ở hiện tại:</label> 
                                <b class="mb-3 get-data" name="currentPlace" style="text-transform: capitalize;">{{submitedDetail.currentPlace}}</b>
                                <input value="{{submitedDetail.currentPlace}}" type="text" class="input-get-data" name="currentPlace" style="display:none;">
                            </div>

                            <div class="place-birth d-flex align-items-start flex-column">
                                <label class="fw-bold">Nơi sinh: </label>
                                <b class="mb-3 get-data" name="placeOfBirth" style="text-transform: capitalize;">{{submitedDetail.placeOfBirth}}</b>
                                <input value="{{submitedDetail.placeOfBirth}}" type="text" class="input-get-data" name="placeOfBirth" style="display:none;">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col combination-1">
                                <div class="d-flex align-items-start flex-column">
                                    <label class="fw-bold">Nguyện vọng 1:</label>
                                    <b class="get-data-combination1 fw-normal" name="combination1">{{submitedDetail.combination1}}</b>
                                    <input value="{{submitedDetail.combination1}}" type="text" class="input-get-data-combination1" name="combination1" style="display:none;">                       
                                </div>
                            </div>

                            <div class="col combination-2">
                                <div class="d-flex align-items-start flex-column">
                                    <label class="fw-bold">Nguyện vọng 2:</label>
                                    <b class="get-data-combination2 fw-normal" name="combination2">{{submitedDetail.combination2}}</b>
                                    <input value="{{submitedDetail.combination2}}" type="text" class="input-get-data-combination2" name="combination2" style="display:none;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around info-parent">
                        <div class="d-flex detail align-items-start flex-column">
                            <div class="d-flex justify-content-center">
                                <label for="" class="me-4 fw-bold">Họ và tên cha:</label>
                                <b class="get-data fw-normal" name="fullNameDad" style="text-transform: capitalize;">{{submitedDetail.fullNameDad}}</b>
                                <input value="{{submitedDetail.fullNameDad}}" type="text" class="input-get-data" name="fullNameDad" style="display:none;">
                            </div>
                            <div class="d-flex">
                                <label for="" class="me-4 fw-bold">Họ và tên mẹ:</label>
                                <b class="get-data fw-normal" name="fullNameMom" style="text-transform: capitalize;">{{submitedDetail.fullNameMom}}</b>
                                <input value="{{submitedDetail.fullNameMom}}" type="text" class="input-get-data" name="fullNameMom" style="display:none;">
                            </div>
                        </div>
                        <div class="d-flex detail align-items-start flex-column">
                            <div class="d-flex">
                                <label for="" class="me-4 fw-bold">Nghề nghiệp cha:</label>
                                <b class="get-data fw-normal" name="jobOfDad" style="text-transform: capitalize;">{{submitedDetail.jobOfDad}}</b>
                                <input value="{{submitedDetail.jobOfDad}}" type="text" class="input-get-data" name="jobOfDad" style="display:none;">
                            </div>
                            <div class="d-flex">
                                <label for="" class="me-4 fw-bold">Nghề nghiệp mẹ:</label>
                                <b class="get-data fw-normal" name="jobOfMom" style="text-transform: capitalize;">{{submitedDetail.jobOfMom}}</b>
                                <input value="{{submitedDetail.jobOfMom}}" type="text" class="input-get-data" name="jobOfMom" style="display:none;">
                            </div>
                        </div>
                        <div class="d-flex detail align-items-start flex-column">
                            <div class="d-flex">
                                <label for="" class="me-4 fw-bold">Số điện thoại cha:</label>
                                <b class="get-data fw-normal" name="phoneOfDad" style="text-transform: capitalize;">{{submitedDetail.phoneOfDad}}</b>
                                <input value="{{submitedDetail.phoneOfDad}}" type="text" class="input-get-data" name="phoneOfDad" style="display:none;">
                            </div>
                            <div class="d-flex">
                                <label for="inputGroupSelect01" class="me-4 fw-bold">Số điện thoại mẹ:</label>
                                <b class="get-data fw-normal" name="phoneOfMom" style="text-transform: capitalize;">{{submitedDetail.phoneOfMom}}</b>
                                <input value="{{submitedDetail.phoneOfMom}}" type="text" class="input-get-data" name="phoneOfMom" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <label class="point"><b>Điểm thi xét tuyển THPT năm học 2025–2026:</b></label>
                    <div class="d-flex justify-content-around text-center">
                        <div class="my-2">
                            <label><b>Toán: <b class="get-data fw-normal" name="mathScore">{{submitedDetail.mathScore}}</b></b></label>
                            <input value="{{submitedDetail.mathScore}}" type="text" class="input-get-data" name="mathScore" style="display:none;">
                        </div>

                        <div class="my-2">
                            <label><b>Văn: <b class="get-data fw-normal" name="literatureScore">{{submitedDetail.literatureScore}}</b></b></label>
                            <input value="{{submitedDetail.literatureScore}}" type="text" class="input-get-data" name="literatureScore" style="display:none;">
                        </div>

                        <div class="my-2">
                            <label><b>Anh: <b class="get-data fw-normal" name="englishScore">{{submitedDetail.englishScore}}</b></b></label>
                            <input value="{{submitedDetail.englishScore}}" type="text" class="input-get-data" name="englishScore" style="display:none;">
                        </div>
                    </div>

                    <label class="point"><b>Kết quả học tập và rèn luyện cấp THCS:</b></label>
                    <div class="table-conduct">
                        <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered m-3">
                            <tr>
                                <th rowspan="1">Lớp</th>
                                <th class="class">6</th>
                                <th class="class">7</th>
                                <th class="class">8</th>
                                <th class="class">9</th>
                                <th class="type-graduate">Xếp loại tốt nghiệp THCS</th>
                            </tr>
                            
                            <tr>
                                <td><b>Hạnh kiểm</b></td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="conduct6">{{submitedDetail.conduct6}}</b>
                                    <input value="{{submitedDetail.conduct6}}" type="text" class="input-get-data-select" name="conduct6" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="conduct7">{{submitedDetail.conduct7}}</b>
                                    <input value="{{submitedDetail.conduct7}}" type="text" class="input-get-data-select" name="conduct7" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="conduct8">{{submitedDetail.conduct8}}</b>
                                    <input value="{{submitedDetail.conduct8}}" type="text" class="input-get-data-select" name="conduct8" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="conduct9">{{submitedDetail.conduct9}}</b>
                                    <input value="{{submitedDetail.conduct9}}" type="text" class="input-get-data-select" name="conduct9" style="display:none;">
                                </td>
                                <td rowspan="2">
                                    <b class="get-data fw-normal-select fw-normal" name="graduationRating">{{submitedDetail.graduationRating}}</b>
                                    <input value="{{submitedDetail.graduationRating}}" type="text" class="input-get-data-select" name="graduationRating" style="display:none;">
                                </td>
                            </tr>
                            
                            <tr>
                                <td><b>Học lực</b></td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="academicRating6">{{submitedDetail.academicRating6}}</b>
                                    <input value="{{submitedDetail.academicRating6}}" type="text" class="input-get-data-select" name="academicRating6" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="academicRating7">{{submitedDetail.academicRating7}}</b>
                                    <input value="{{submitedDetail.academicRating7}}" type="text" class="input-get-data-select" name="academicRating7" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="academicRating8">{{submitedDetail.academicRating8}}</b>
                                    <input value="{{submitedDetail.academicRating8}}" type="text" class="input-get-data-select" name="academicRating8" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal-select fw-normal" name="academicRating9">{{submitedDetail.academicRating9}}</b>
                                    <input value="{{submitedDetail.academicRating9}}" type="text" class="input-get-data-select" name="academicRating9" style="display:none;">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <label class="point"><b>Điểm trung bình các môn học rèn luyện cấp THCS:</b></label>
                    <div class="table-avg-poin">
                        <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered m-3">
                            <tr>
                                <th colspan="8" class="px-3">Điểm trung bình môn cả năm lớp 9</th>
                            </tr>
                            <tbody>
                                <td class="subject"><b>Văn</b></td>
                                <td class="subject"><b>Toán</b></td>
                                <td class="subject"><b>Anh</b></td>
                                <td class="subject"><b>Vật lý</b></td>
                                <td class="subject"><b>Hóa học</b></td>
                                <td class="subject"><b>Sinh</b></td>
                                <td class="subject"><b>Sử</b></td>
                                <td class="subject"><b>Địa</b></td>
                            </tbody>
                            <tbody>
                                <td>
                                    <b class="get-data fw-normal" name="avgLiteratureScore">{{submitedDetail.avgLiteratureScore}}</b>
                                    <input value="{{submitedDetail.avgLiteratureScore}}" type="text" class="input-get-data" name="avgLiteratureScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgMathScore">{{submitedDetail.avgMathScore}}</b>
                                    <input value="{{submitedDetail.avgMathScore}}" type="text" class="input-get-data" name="avgMathScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgEnglishScore">{{submitedDetail.avgEnglishScore}}</b>
                                    <input value="{{submitedDetail.avgEnglishScore}}" type="text" class="input-get-data" name="avgEnglishScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgPhysicsScore">{{submitedDetail.avgPhysicsScore}}</b>
                                    <input value="{{submitedDetail.avgPhysicsScore}}" type="text" class="input-get-data" name="avgPhysicsScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgChemistryScore">{{submitedDetail.avgChemistryScore}}</b>
                                    <input value="{{submitedDetail.avgChemistryScore}}" type="text" class="input-get-data" name="avgChemistryScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgBiologyScore">{{submitedDetail.avgBiologyScore}}</b>
                                    <input value="{{submitedDetail.avgBiologyScore}}" type="text" class="input-get-data" name="avgBiologyScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgHistoryScore">{{submitedDetail.avgHistoryScore}}</b>
                                    <input value="{{submitedDetail.avgHistoryScore}}" type="text" class="input-get-data" name="avgHistoryScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data fw-normal" name="avgGeographyScore">{{submitedDetail.avgGeographyScore}}</b>
                                    <input value="{{submitedDetail.avgGeographyScore}}" type="text" class="input-get-data" name="avgGeographyScore" style="display:none;">
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <input value="{{submitedDetail.schoolDistrict}}" type="text" class="input-get-data-district" name="schoolDistrict" style="display:none;">
                </form>
            </div>
        </div>

        <div id="loading" class="position-fixed litle" style="display: none;">
            <div class="d-flex align-items-center flex-column">
                <h2 style="font-family: 'Lexend', sans-serif;">Đang gửi dữ liệu...</h2>
                <div class="spinner-border mt-4" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="d-flex justify-content-center text-center">
            <p class="footer-text mb-0">
                © 2025 Trường THPT Duy Tân, Phường Quảng Phú, TP. Đà Nẵng.
            </p>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div id="cropperContainer" style="display:none; position:fixed; inset:0; background:#000a; z-index:9998; justify-content:center; align-items:center;">
    <img id="preview" style="max-height:90vh;" />
    <button id="cropBtn" type="button" style="position:absolute; top:20pc;">Cắt ảnh</button>
</div>

<div class="glass-overlay"></div>
<!-- Modal -->
<div class="modal" id="modal-choose-school" style="display: none;">
  <div class="modal-container container choose-school mx-auto">
    <div class="modal-content choose-school">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chọn trường cấp 2</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="form-group">
                <label for="inputName"><b>Bạn ở xã/phường nào?</b></label>
                <select class="form-select form-select-district" name="schoolDistrict" aria-label="Default select example">
                    <option selected value="">-- Chọn xã/phường --</option>
                    {{#each districts}}
                        <option value="{{this.districtName}}">{{this.districtName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="inputName"><b>Trường cấp 2 của bạn là gì?</b></label>
                <select class="form-select form-select-school" name="secondarySchoolName" aria-label="Default select example" disabled>
                    <option selected value="">-- Chọn trường --</option>
                </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary confirm">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

{{#each combinations}}
<div id="{{this.id}}" class="modal show-combination" style="display: none;">
    <div class="modal-containers container mx-auto">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin tổ hợp chi tiết</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-bodyy combination">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="mb-4">{{this.description}}</p>

            <h5>Môn Chuyên Đề:</h5>
            <div class="accordion mb-4" id="accordionExample">
                {{#each compulsorySubjects}}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="flase" aria-controls="collapseOne">
                                {{this.name}}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body text">
                                {{this.description}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <h5>Môn Lựa Chọn:</h5>
            <div class="accordion" id="accordionExample">
                {{#each optionalSubjects}}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="flase" aria-controls="collapseOne">
                                    {{this.name}}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body text">
                                    {{this.description}}
                                </div>
                            </div>
                        </div>
                {{/each}}
            </div>
        </div>  
    </div>    
</div>
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    var sideBar = document.getElementById('sidebar');
    const master = document.getElementById('master');
    var loading = document.getElementById('loading-full');
    var bodyApp = document.getElementById('body-app');
    const content = document.querySelector('.card-body .content');
    window.addEventListener('load', function () {
        bodyApp.style.overflowY = 'auto';
        loading.style.display = 'none';
        content.style.display = 'block';
        sideBar.style.height = master.clientHeight;
    });
</script>

<script>
    $.fn.datepicker.dates['vi'] = {
        days: ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"],
        daysShort: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        daysMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        months: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
        monthsShort: ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"],
        today: "Hôm nay",
        clear: "Xóa",
        format: "dd/mm/yyyy",
        titleFormat: "MM yyyy", 
        weekStart: 1
    };

    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',  
        language: 'vi',         
        autoclose: true       
    });

    $("#datepicker").change((e) => {
        if(e.target.value === "") {
            e.target.style.border = "1px solid red";
        } else {
            e.target.style.border = "1px solid #dee2e6";
            document.querySelector(".form-group-datepicker .form-message").innerHTML = "";
        }
    });

    const btnSubjects = document.querySelectorAll(".accordion-button");
    for(var btnSubject of btnSubjects) {
        btnSubject.onclick = (e) => {
            for(var btn of btnSubjects) {
                const content = btn.parentElement.parentElement.querySelector("#collapseOne");
                btn.classList.add("collapsed");
                content.classList.remove("show");
            }
            const content = e.target.parentElement.parentElement.querySelector("#collapseOne");
            if(e.target.getAttribute("aria-expanded") === "false") {
                e.target.setAttribute("aria-expanded", "true");
                e.target.classList.remove("collapsed");
                content.classList.add("show");
            } else {
                e.target.setAttribute("aria-expanded", "false");
                e.target.classList.add("collapsed");
                content.classList.remove("show");
            }
        }
    }
</script>

<script>
    // check box
    const checkReaded = document.querySelector('#checkReaded');
    let checked = false;
    
    checkReaded.onchange = () => {
        checked = !checked;
        const btnNextStep = document.querySelector('#btnNextStep');
        btnNextStep.disabled = !checked;
    }

    const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();

    litSidebars.forEach((li) => {
        if(li.getAttribute('value') === 'Đăng ký tổ hợp') {
            li.parentElement.classList.add('active');
        } else {
            li.parentElement.classList.remove('active');
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" defer></script>

<script type="module">
    import { uploadImageToCloudinary } from '/uploadImageToCloudinary.js';
    import { fetchAsync } from '/fetchAsync.js';
    // Gắn uploadImageToCloudinary, fetchAsync vào window để gọi được từ HTML
    window.uploadImageToCloudinary = uploadImageToCloudinary;
    window.fetchAsync = fetchAsync;

    const banner = document.getElementById('banner');
    const cardBody = document.getElementById('card-body');
    
    const combinationDetailModal = document.querySelector('#combinationDetailModal');
    let page = {{{step}}} || 1;

    window.addEventListener('load', function () {
        setActiveForSteps(page)
        checkPageReturnScript(page)
    });

    function setActiveForSteps(page) {
        const tittleStep = document.getElementById(`tittle-step-${page}`);
        const barStepContainer = document.querySelector(".progress_bar-steps");
        const barSteps = document.querySelectorAll(".progress_bar-step");
        const steps_progress = document.querySelector(".progress_bar-progress");
        const barStep_length = barSteps.length - 1;
        const arrBarStep = Array.from(barSteps);
        arrBarStep[page-1].classList.add('active');

        const liActiveElements = document.querySelectorAll('li.active');

        if(liActiveElements.length > page) {
            for(var i = page; i < liActiveElements.length; i++) {
                liActiveElements[i].classList.remove('active');
            }
            const liActiveElementsResult = document.querySelectorAll('li.active');
            steps_progress.style.width = `${liActiveElementsResult[page - 1].offsetLeft + liActiveElementsResult[page - 1].offsetWidth}px`;
        } else {
            steps_progress.style.width = `${liActiveElements[liActiveElements.length - 1].offsetLeft + liActiveElements[liActiveElements.length - 1].offsetWidth}px`
        }
    }

    function checkPageReturnScript(currentPage) {
        page = currentPage;
        switch(currentPage) {
            case 1:
                setActiveForSteps(currentPage);
                break;
            case 2:
                const inputPage2HaveAttNames = document.querySelectorAll('div.box-submit-2 input[name]');
                const selectPage2HaveAttNames = document.querySelectorAll('div.box-submit-2 select[name]');
                const inputTypeNumbers = document.querySelectorAll("div.box-submit-2 input[type='number']");

                const allTagPage2HaveAttName = [...inputPage2HaveAttNames, ...selectPage2HaveAttNames];
                const allTagForCheck = allTagPage2HaveAttName;

                allTagPage2HaveAttName.shift();

                allTagPage2HaveAttName.forEach((tag) => {
                    tag.onchange = () => {
                        let value = tag.value;
                        const inpName = tag.name;
                        const tagBaddData = document.querySelectorAll(`div.box-submit-4 b[name='${inpName}']`);
                        const tagInputaddData = document.querySelectorAll(`div.box-submit-4 input[name='${inpName}']`);
                        if(tag.getAttribute('type') === "number") {
                            value = Number(value);
                        }
                        if(tagBaddData.length > 1) {
                            Array.from(tagBaddData).forEach((b) => b.innerHTML = value);
                            Array.from(tagInputaddData).forEach((input) => input.value = value);
                        } else {
                            Array.from(tagBaddData)[0].innerHTML = value;
                            Array.from(tagInputaddData)[0].value = value;
                        }
                    }
                })

                inputTypeNumbers.forEach((input) => {
                    input.onblur = () => {
                        input.value = Number(input.value);
                    }
                })

                function checkAllInputHadValue(inputs) {
                    let ok = true;
                    inputs.forEach((tag, index) => {
                        if(tag.value === '') {
                            ok = false;
                            return;
                        }
                    });
                    return ok;
                }

                if(currentPage == 2) {
                    var nextBtnPage2 = document.querySelector('div.box-submit-2 #btnNextStep');
                    const inputChooseAvatar = document.querySelector('div.box-submit-2 input[name="avatarLink"]');
                    const btnShowModalSchool = document.querySelector('div.box-submit-2 button.btn-show-modal-school');
                    const tagShowSchool = document.querySelector('div.box-submit-4 .get-data-school');
                    const selectDistrict = document.querySelector(".form-select-district");
                    const selectSchool = document.querySelector(".form-select-school");
                    const inputDistrict = document.querySelector('div.box-submit-4 input.input-get-data-district');

                    allTagForCheck.push(inputChooseAvatar);
                    if(!{{{isEdit}}}) {
                        allTagForCheck.push(selectSchool);
                    }
                    
                    btnShowModalSchool.onclick = () => showModalChooseSchool();
                    nextBtnPage2.onclick = () => {
                        if(!checkAllInputHadValue(allTagForCheck)) {
                            toastMessage("Thông báo", "Hãy nhập thông tin đầy đủ trước khi bấm \"Tiếp tục\".", "error", 6000, "❌", 1000);
                        } else {
                            const currentBox = document.querySelector(`.box-submit-${currentPage}`);
                            currentBox.style.display = 'none';
                            if(currentPage+1 <= 4) currentPage++;
                            const nextBox = document.querySelector(`.box-submit-${currentPage}`);
                            nextBox.style.display = 'block';
                            checkPageReturnScript(currentPage);
                        }
                    }

                    selectDistrict.onchange = (e) => {
                        selectSchool.disabled = false;
                        inputDistrict.value = selectDistrict.value;
                        const selectName = selectDistrict.name;
                        const inputGetDataSchoolDistrict = document.querySelector(`div.box-submit-4 input[name='${selectName}']`);
                        inputGetDataSchoolDistrict.value = selectDistrict.value;
                        selectSchool.innerHTML = "";
                        const districtName = e.target.value;
                        const data = {{{secondarySchools}}};
                        const result = data.filter((doc) => {
                            return doc.districtName === districtName;
                        })[0];
                        if(result) {
                            selectSchool.innerHTML = "<option selected value=''>-- Chọn trường --</option>";
                            const secondarySchools = result.schools;
                            secondarySchools.forEach((school) => {
                                const option = document.createElement('option');
                                option.value = school;
                                option.textContent = school;
                                selectSchool.appendChild(option);
                            })
                        } else {
                            selectSchool.innerHTML = "<option selected value=''>-- Chọn trường --</option>";
                            selectSchool.disabled = true;
                        }   
                    }

                    function showModalChooseSchool() {
                        const modalChooseSchool = document.querySelector('#modal-choose-school');
                        var glassOverlay = document.querySelector('.glass-overlay');
                        const textShowSchool = document.querySelector('div.box-submit-2 .secondary-school-choosen');
                        const selectSchool = modalChooseSchool.querySelector('.form-select-school');
                        const btnConfirm = modalChooseSchool.querySelector('.confirm');
                        const btnClose = modalChooseSchool.querySelector('.close');

                        glassOverlay.classList.add('active');
                        modalChooseSchool.style.display = 'flex';

                        btnClose.onclick = () => {
                            modalChooseSchool.style.display = 'none';
                            glassOverlay.classList.remove('active');
                        }

                        btnConfirm.onclick = () => {
                            if(selectSchool.value != '') {
                                const resultSecondarySchool = selectSchool.value + ', ' + selectDistrict.value + ", TP. Đà Nẵng";
                                textShowSchool.textContent = tagShowSchool.textContent = resultSecondarySchool;
                                modalChooseSchool.style.display = 'none';
                                textShowSchool.style.display = 'block';
                                glassOverlay.classList.remove('active');
                                const allInputSecondarySchool = document.querySelectorAll("div.box-submit-4 input[name='secondarySchool']");
                                const allBSecondarySchool = document.querySelectorAll("div.box-submit-4 b[name='secondarySchool']");
                                if(allInputSecondarySchool.length > 1) {
                                    allInputSecondarySchool.forEach((input) => input.value = selectSchool.value);
                                    allBSecondarySchool.forEach((b) => b.innerHTML = resultSecondarySchool);
                                } else {
                                    allInputSecondarySchool[0].value = selectSchool.value;
                                    allBSecondarySchool[0].innerHTML = resultSecondarySchool;
                                }
                            } else {
                                toastMessage("Thông báo", "Hãy chọn giá trị theo thứ tự và đầy đủ trước khi bấm \"Xác nhận\".", "error", 6000, "❌", 1000);
                            }
                        }
                    }
                    setActiveForSteps(currentPage);
                }
            case 4:
                const inputImage = document.getElementById('inputImage');
                const preview = document.getElementById('preview');
                const cropBtn = document.getElementById('cropBtn');
                const resultImage = document.getElementById('resultImage');
                const cropperContainer = document.getElementById('cropperContainer');
                const imgBoderFake = document.querySelector(".imgBoderFake");
                const inputHiddenImg = document.getElementById('input-get-data');
                
                let cropper;

                const recropBtn = document.getElementById('recropBtn');
                let lastImageURL = '';

                inputImage.addEventListener('change', () => {
                    const file = inputImage.files[0];
                    if (file) {
                        lastImageURL = URL.createObjectURL(file);
                        showCropper(lastImageURL);
                    }
                });

                cropBtn.addEventListener('click',  () => {
                    const canvas = cropper.getCroppedCanvas({ width: 300, height: 400 });
                    const dataUrl = canvas.toDataURL('image/jpeg');
                    inputHiddenImg.value = dataUrl;

                    resultImage.src = dataUrl;
                    imgBoderFake.style.display = 'none';
                    resultImage.style.display = 'block';
                    recropBtn.style.display = 'inline-block';

                    cropper.destroy();
                    cropper = null;
                    cropperContainer.style.display = 'none';
                });

                recropBtn.addEventListener('click', () => {
                    if(lastImageURL != '') {
                        showCropper(lastImageURL);
                    }
                });

                function showCropper(imageUrl) {
                    preview.src = imageUrl;
                    cropperContainer.style.display = 'flex';

                    preview.onload = function () {
                        if (cropper) cropper.destroy();
                        cropper = new Cropper(preview, {
                            aspectRatio: 3 / 4,
                            viewMode: 1,
                            dragMode: 'move',
                            cropBoxResizable: false,
                            cropBoxMovable: false,
                            movable: true,
                            zoomable: true,
                            ready() {
                                cropper.setCropBoxData({ width: 300, height: 400 });
                            }
                        });
                    };
                }
                if(currentPage == 4) {
                    const btnPrev = document.querySelector('div.box-submit-4 #btnPrevStep')
                    const loading = document.querySelector('#loading');
                    const inputAvatarStep4 = document.querySelector('div.box-submit-4 input[name="avatarLink"]');
                    if(inputHiddenImg && inputAvatarStep4) {
                        inputAvatarStep4.value = inputHiddenImg.value;
                    }
                    const imgStep4 = document.querySelector('div.box-submit-4 img.resultImage');
                    if(imgStep4 && inputHiddenImg.value) {
                        imgStep4.src = inputHiddenImg.value;
                    }

                    btnPrev.onclick = () => {
                        const currentBox = document.querySelector(`.box-submit-${page}`);
                        currentBox.style.display = 'none';
                        if(page-1 >= 1) {
                            page--;
                        }
                        const nextBox = document.querySelector(`.box-submit-${page}`);
                        nextBox.style.display = 'block';
                        checkPageReturnScript(page);
                    }

                    const formSubmit = document.querySelector('#form-submit-combination')
                    const btnSubmitForm = document.querySelector('#btnSubmit');
                    btnSubmitForm.onclick = async () => {
                        loading.style.display = 'flex';
                        const uploaded = await uploadImageToCloudinary(inputAvatarStep4.value, "avatars");
                        if (uploaded.data) {
                            inputAvatarStep4.value = uploaded.data;
                            const formData = new FormData(formSubmit);
                            const data = Object.fromEntries(formData.entries());

                            const result = await fetchAsync('/combination/submited', 'POST', data, null, true);
                            loading.style.display = 'none';
                            localStorage.setItem('textMessage', result.message);
                            const currentUrl = window.location.origin + `/combination/submited-detail/${result.userId}?toastmessage=true`;
                            window.location.href = currentUrl;
                        }
                        else {
                            loading.style.display = 'none';
                            toastMessage("Thông báo", uploaded.error, "error", 6000, "❌", 1000);
                        }
                    }
                    setActiveForSteps(currentPage);
                }
                break;
            case 3:
                setActiveForSteps(currentPage);
                const selectCombination1 = document.querySelector('#select-combination1');
                const selectCombination2 = document.querySelector('#select-combination2'); 

                const btnPrev = document.querySelector('div.box-submit-3 #btnPrevStep')
                const btnNextPage3 = document.querySelector('div.box-submit-3 #btnNextStep')

                btnPrev.onclick = () => {
                    const currentBox = document.querySelector(`.box-submit-${page}`);
                    currentBox.style.display = 'none';
                    if(page-1 >= 1) {
                        page--;
                    }
                    const nextBox = document.querySelector(`.box-submit-${page}`);
                    nextBox.style.display = 'block';
                    checkPageReturnScript(page);
                }

                btnNextPage3.onclick = () => {
                    if(!checkAllSelectInPage3([selectCombination1, selectCombination2])) {
                        toastMessage("Thông báo", "Hãy chọn nguyện vọng đầy đủ trước khi bấm \"Tiếp tục\".", "error", 6000, "❌", 1000);
                    } else {
                        const currentBox = document.querySelector(`.box-submit-${currentPage}`);
                        currentBox.style.display = 'none';
                        if(currentPage+1 <= 4) currentPage++;
                        const nextBox = document.querySelector(`.box-submit-${currentPage}`);
                        nextBox.style.display = 'block';
                        checkPageReturnScript(currentPage);
                    }
                }

                function checkAllSelectInPage3(selects) {
                    let ok = true;
                    selects.forEach((select) => {
                        if(select.value === '') {
                            ok = false;
                        }
                    })
                    return ok;
                }

                const allTagSelectData1 = document.querySelectorAll('div.box-submit-4 .get-data-combination1')
                const allTagSelectData2 = document.querySelectorAll('div.box-submit-4 .get-data-combination2')
                const allTagAddData1 = document.querySelectorAll('div.box-submit-4 input.input-get-data-combination1')
                const allTagAddData2 = document.querySelectorAll('div.box-submit-4 input.input-get-data-combination2')

                if(selectCombination1.value !== '') {
                    const optionsSelect2 = Array.from(selectCombination2.querySelectorAll('option'));
                    optionsSelect2.shift();

                    optionsSelect2.forEach((option) => {
                        if(option.text === selectCombination1.value) {
                            selectCombination2.removeChild(option);
                        }
                    })
                }   

                selectCombination1.onchange = () => {
                    const valueSelect1 = selectCombination1.value;
                    allTagSelectData1.forEach((select, index) => {
                        select.textContent = allTagAddData1[index].value = valueSelect1;
                    })

                    const optionsSelect1 = Array.from(selectCombination1.querySelectorAll('option'));
                    optionsSelect1.shift();
                    selectCombination2.innerHTML = '<option selected value="">--Chọn tổ hợp--</option>';

                    optionsSelect1.forEach((option) => {
                        if(option.text !== valueSelect1) {
                            const tmp = document.createElement('option');
                            tmp.value = option.value;
                            tmp.text = option.value;

                            selectCombination2.appendChild(tmp);
                        }
                    })
                    if (valueSelect1) {
                        selectCombination2.disabled = false;
                    } else selectCombination2.disabled = true;
                }   

                selectCombination2.onchange = () => {
                    const valueSelect2 = selectCombination2.value;
                    allTagSelectData2.forEach((select, index) => {
                        select.textContent = allTagAddData2[index].value = valueSelect2;
                    })
                }

                const glassOverlay = document.querySelector('.glass-overlay');
                const btnShows = document.querySelectorAll('.btn-show-modal');

                btnShows.forEach((btnShow) => {
                    btnShow.onclick = () => {
                        const modalId = btnShow.getAttribute('id-modal');
                        const modalCombinationDetail = document.getElementById(modalId);
                        modalCombinationDetail.style.display = 'flex';
                        const modalChild = modalCombinationDetail.querySelector('.modal-containers');
                        const btnClose = modalCombinationDetail.querySelector('.btn-close');
                        const body = document.getElementsByTagName('body')[0];

                        body.style.overflowY = 'hidden';
                        glassOverlay.classList.add('active');
                        btnClose.onclick = () => {
                            body.style.overflowY = 'auto';
                            modalCombinationDetail.style.display = 'none';
                            glassOverlay.classList.remove('active');
                        }

                        modalChild.onclick = (e) => {
                            e.stopPropagation();
                        }
                    }
                })
                
                const btnSubjects = document.querySelectorAll(".accordion-button");
                for(var btnSubject of btnSubjects) {
                    btnSubject.onclick = (e) => {
                        for(var btn of btnSubjects) {
                            const content = btn.parentElement.parentElement.querySelector("#collapseOne");
                            btn.classList.add("collapsed");
                            content.classList.remove("show");
                        }
                        const content = e.target.parentElement.parentElement.querySelector("#collapseOne");
                        if(e.target.getAttribute("aria-expanded") === "false") {
                            e.target.setAttribute("aria-expanded", "true");
                            e.target.classList.remove("collapsed");
                            content.classList.add("show");
                        } else {
                            e.target.setAttribute("aria-expanded", "false");
                            e.target.classList.add("collapsed");
                            content.classList.remove("show");
                        }
                    }
                }
                break;
        }
        sideBar.style.height = master.clientHeight;
        master.parentElement.parentElement.style.height = master.clientHeight;
    }
    const btnNext = document.querySelector('#btnNextStep');
    const btnPrev = document.querySelector('#btnPrevStep');
    const btnSubmitCombination = document.querySelector('#btnSubmit');

    btnNext.onclick = () => {
        const currentBox = document.querySelector(`.box-submit-${page}`);
        currentBox.style.display = 'none';
        if(page+1 <= 4) page++;
        const nextBox = document.querySelector(`.box-submit-${page}`);
        nextBox.style.display = 'block';
        checkPageReturnScript(page);
    }

    btnPrev.onclick = () => {
        const currentBox = document.querySelector(`.box-submit-${page}`);
        currentBox.style.display = 'none';
        if(page-1 >= 1) {
            page--;
        }
        const nextBox = document.querySelector(`.box-submit-${page}`);
        nextBox.style.display = 'block';
        checkPageReturnScript(page);
    }
</script>
