<head>
    <title>Đăng Ký Tổ Hợp | {{#if (eq role 'student')}}Hồ Sơ Đã Nộp{{else}}Hồ Sơ Chi Tiết{{/if}}</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
    <link rel="stylesheet" href="/css/submitted-detail.css">
</head>

<div id="master">
    <div class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752812401/school_banner_second_new_un0i6r.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    
    <div class="box-radius shadow">
        <div class="card-body" style="display: none;">
            {{#if submitedCombinationDetail}}
                <div class="container position-relative">
                    <span id="badge-main" class="badge text-bg-{{badge.typeBadge}} py-2 px-3 fs-6 position-absolute shadow" style="top:0;right:0;">{{badge.status}}</span>
                    <legend class="mb-4 fw-bold">HỒ SƠ ĐĂNG KÝ VÀO LỚP 10</legend>

                    <div class="d-flex box">
                        <div class="offical-avatar me-4 mb-3 d-flex flex-column">
                            <label class="avatar"><b>Ảnh thẻ:</b></label>
                            <a href="{{submitedCombinationDetail.avatarLink}}" data-lightbox="student" data-title="Ảnh thẻ của {{submitedCombinationDetail.fullName}}">
                                <img id="resultImage" src="{{submitedCombinationDetail.avatarLink}}" class="col col-md-2">
                            </a>
                        </div>

                        <div class="offical-info gy-3 m-0">
                            <div class="row">
                                <div class="full-name col d-flex align-items-start flex-column">
                                    <label class="me-2 fw-bold">Họ và tên học sinh:</label>
                                    <h4 class="mb-3"> {{submitedCombinationDetail.fullName}}</h4>
                                </div>
                                <div class="col d-flex align-items-start flex-column">
                                    <label class="fw-bold">Giới tính:</label>
                                    <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.gender}}</p>
                                </div>
                                <div class="col d-flex align-items-start flex-column">
                                    <label class="fw-bold" for="inputGroupSelect01">Dân tộc: </label>
                                    <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.nation}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col d-flex align-items-start flex-column">
                                    <label class="fw-bold">Ngày tháng năm sinh: </label>
                                    <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.dateOfBirth}}</p>
                                </div>

                                <div class="place-birth pic align-items-start flex-column">
                                    <label class="fw-bold">Nơi sinh: </label>
                                    <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.placeOfBirth}}</p>
                                </div>

                                <div class="col combination-1-rep">
                                    <div class="d-flex align-items-start flex-column">
                                        <label class="fw-bold">Nguyện vọng 1:</label>
                                        <p>{{submitedCombinationDetail.combination1}}</p>                       
                                    </div>
                                </div>
                            </div>

                            <div class="row place-box">
                                <div class="secondary-school d-flex align-items-start flex-column">
                                    <label class="fw-bold">Trường học cấp 2:</label> 
                                    <div class="d-flex flex-column mb-3">
                                        <p style="text-transform: capitalize;" class="m-0">{{submitedCombinationDetail.secondarySchool}},</p>
                                        <p class="m-0">{{submitedCombinationDetail.schoolDistrict}}, TP. Đà Nẵng</p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-start flex-column current-place">
                                    <label class="fw-bold">Nơi ở hiện tại:</label> 
                                    <p class="mb-3" style="text-transform: capitalize;">{{submitedCombinationDetail.currentPlace}}</p>
                                </div>

                                <div class="col combination-1">
                                    <div class="d-flex align-items-start flex-column">
                                        <label class="fw-bold">Nguyện vọng 1:</label>
                                        <p class="m-0">{{submitedCombinationDetail.combination1}}</p>                       
                                    </div>
                                </div>

                                <div class="col combination-2">
                                    <div class="d-flex align-items-start flex-column">
                                        <label class="fw-bold">Nguyện vọng 2:</label>
                                        <p class="m-0">{{submitedCombinationDetail.combination2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="place-box-rep">
                        <div class="row">
                            <div class="secondary-school d-flex align-items-start flex-column">
                                <label>Trường học cấp 2:</label> 
                                <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.secondarySchool}}, {{submitedCombinationDetail.schoolDistrict}}, TP. Đà Nẵng</p>
                            </div>

                            <div class="d-flex align-items-start flex-column current-place">
                                <label class="fw-bold">Nơi ở hiện tại:</label> 
                                <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.currentPlace}}</p>
                            </div>

                            <div class="place-birth d-flex align-items-start flex-column">
                                <label class="fw-bold">Nơi sinh:</label>
                                <p style="text-transform: capitalize;" class="mb-3">{{submitedCombinationDetail.placeOfBirth}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col combination-1">
                                <div class="d-flex align-items-start flex-column">
                                    <label class="fw-bold">Nguyện vọng 1:</label>
                                    <p>{{submitedCombinationDetail.combination1}}</p>                       
                                </div>
                            </div>

                            <div class="col combination-2">
                                <div class="d-flex align-items-start flex-column">
                                    <label class="fw-bold">Nguyện vọng 2:</label>
                                    <p>{{submitedCombinationDetail.combination2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="info-parent" class="row">
                        <div class="d-flex col align-items-start flex-column">
                            <div class="d-flex detail justify-content-center">
                                <label class="fw-bold" for="">Họ và tên cha:</label>
                                <p class="m-0">{{submitedCombinationDetail.fullNameDad}}</p>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Họ và tên mẹ:</label>
                                <p class="m-0">{{submitedCombinationDetail.fullNameMom}}</p>
                            </div>
                        </div>
                        <div class="d-flex col align-items-start flex-column job-parent">
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Nghề nghiệp:</label>
                                <p class="m-0">{{submitedCombinationDetail.jobOfDad}}</p>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Nghề nghiệp:</label>
                                <p class="m-0">{{submitedCombinationDetail.jobOfMom}}</p>
                            </div>
                        </div>
                        <div class="d-flex col align-items-start flex-column">
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Số điện thoại:</label>
                                <p class="m-0">{{submitedCombinationDetail.phoneOfDad}}</p>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="inputGroupSelect01">Số điện thoại:</label>
                                <p class="m-0">{{submitedCombinationDetail.phoneOfMom}}</p>
                            </div>
                        </div>
                    </div>

                    <div id="info-parent-rep" class="row">
                        <div class="d-flex col align-items-start flex-column">
                            <div class="d-flex detail justify-content-center">
                                <label class="fw-bold" for="">Họ và tên cha:</label>
                                <div style="width: 135px;overflow-x:scroll;">
                                    <p class="m-0">{{submitedCombinationDetail.fullNameDad}}</p>
                                </div>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Nghề nghiệp:</label>
                                <div style="width: 135px;overflow-x:scroll;">
                                    <p class="m-0">{{submitedCombinationDetail.jobOfDad}}</p>
                                </div>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Số điện thoại:</label>
                                <p class="m-0">{{submitedCombinationDetail.phoneOfDad}}</p>
                            </div>
                        </div>
                        <div class="d-flex col align-items-start flex-column job-parent">
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Họ và tên mẹ:</label>
                                <div style="width: 135px;overflow-x:scroll;">
                                    <p class="m-0">{{submitedCombinationDetail.fullNameMom}}</p>
                                </div>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="">Nghề nghiệp:</label>
                                <div style="width: 135px;overflow-x:scroll;">
                                    <p class="m-0">{{submitedCombinationDetail.jobOfMom}}</p>
                                </div>
                            </div>
                            <div class="d-flex detail">
                                <label class="fw-bold" for="inputGroupSelect01">Số điện thoại:</label>
                                <p class="m-0">{{submitedCombinationDetail.phoneOfMom}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <label id="poin-offical" class="col"><p class="fw-bold">Điểm thi xét tuyển THPT năm học 2025–2026:</p></label>
                    <div class="d-flex poin-box">
                        <div class="my-2">

                            <label><b>Toán: </b>{{submitedCombinationDetail.mathScore}}</label>
                        </div>

                        <div class="my-2">
                            <label><b>Văn: </b>{{submitedCombinationDetail.literatureScore}}</label>
                        </div>

                        <div class="my-2">
                            <label><b>Anh: </b>{{submitedCombinationDetail.englishScore}}</label>
                        </div>
                    </div>

                    <label class="col table"><b>Kết quả học tập và rèn luyện cấp THCS:</b></label>
                    <div class="table-conduct">
                        <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                        <tr>
                            <th rowspan="1">Lớp</th>
                            <th class="class">6</th>
                            <th class="class">7</th>
                            <th class="class">8</th>
                            <th class="class">9</th>
                            <th class="type-graduate">Xếp loại tốt nghiệp THCS</th>
                        </tr>
                        
                        <tr>
                            <td><b>Hạnh kiểm</b></td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.conduct6}} 
                            </td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.conduct7}} 
                            </td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.conduct8}} 
                            </td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.conduct9}} 
                            </td>
                            <td rowspan="2" style="text-transform: capitalize;">
                                {{submitedCombinationDetail.graduationRating}} 
                            </td>
                        </tr>
                        
                        <tr>
                            <td><b>Học lực</b></td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.academicRating6}}
                            </td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.academicRating7}}
                            </td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.academicRating8}}
                            </td>
                            <td style="text-transform: capitalize;">
                                {{submitedCombinationDetail.academicRating9}}
                            </td>
                        </tr>
                        </table>
                    </div>

                    <label class="col table"><b>Điểm trung bình các môn học rèn luyện cấp THCS:</b></label>
                    <div class="table-avg-poin">
                        <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-4">
                            <tr>
                                <th colspan="8" class="px-3">Điểm trung bình môn cả năm lớp 9</th>
                            </tr>
                            <tbody>
                                <td class="subject"><b>Văn</b></td>
                                <td class="subject"><b>Toán</b></td>
                                <td class="subject"><b>Ngoại ngữ</b></td>
                                <td class="subject"><b>Vật lý</b></td>
                                <td class="subject"><b>Hóa học</b></td>
                                <td class="subject"><b>Sinh</b></td>
                                <td class="subject"><b>Sử</b></td>
                                <td class="subject"><b>Địa</b></td>
                            </tbody>
                            <tbody>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgLiteratureScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgMathScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgEnglishScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgPhysicsScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgChemistryScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgBiologyScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgHistoryScore}}
                                </td>
                                <td style="text-transform: capitalize;">
                                    {{submitedCombinationDetail.avgGeographyScore}}
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <div class="row btn-feature justify-content-center gap-3 mt-4 mx-auto">
                        {{#if (eq role 'student')}}
                            <a href="/combination/submit-combination?step=2" class="btn btn-secondary d-flex justify-content-center align-items-center col {{#if (eq submitedCombinationDetail.status "approved")}}disabled{{/if}}">Chỉnh sửa</a>
                            <button type="button" id="btn-modal-delete" class="btn btn-danger d-flex justify-content-center align-items-center col {{#if (eq submitedCombinationDetail.status "approved")}}disabled{{/if}}">Xoá hồ sơ</button>
                            <a href="/file/pdf/submited/{{submitedCombinationDetail.userId}}" class="btn btn-info d-flex justify-content-center align-items-center col" target="_blank">Hồ sơ PDF</a>
                        {{else}}
                            <a href="/file/pdf/submited/{{submitedCombinationDetail.userId}}" class="btn btn-info d-flex justify-content-center align-items-center col" target="_blank">Hồ sơ PDF</a>
                            <button id="btn-reject-document" href="/combination/submited-reject/{{submitedCombinationDetail.userId}}" class="btn btn-danger d-flex justify-content-center align-items-center col {{#if (eq submitedCombinationDetail.status "approved")}}disabled{{/if}}">Không phê duyệt</button>
                            <button id="btn-approve-document" href="/combination/submited-approve/{{submitedCombinationDetail.userId}}" class="btn btn-primary d-flex justify-content-center align-items-center col {{#if (eq submitedCombinationDetail.status "approved")}}disabled{{/if}}">Phê duyệt</button>
                        {{/if}}
                    </div>
                </div>
            {{else}}
                <div class="container non">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1749548858/no-data_bitdab.avif" alt="Không có dữ liệu" style="width: 20pc;">
                        <h3>Chưa có dữ liệu...</h3>
                        <p>Bạn chưa đăng ký tổ hợp.</p>
                        <a class="btn btn-secondary" href="/combination/submit-combination">Đăng ký tổ hợp</a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

    <div id="footer">
        <div class="d-flex justify-content-center text-center">
            <p class="footer-text mb-0">
                © 2025 Trường THPT Duy Tân, Phường Quảng Phú, TP. Đà Nẵng.
            </p>
        </div>
    </div>
</div>

<div class="modal" id="modal-delete-submited" style="display: none;">
  <div class="modal-container container choose-school mx-auto">
    <div class="modal-content" style="height: 10pc;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá hồ sơ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xoá hồ sơ này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel">Huỷ</button>
        <a href="/combination/delete/submited-combination/{{submitedCombinationDetail.id}}" class="btn btn-danger delete">Xoá</a>
      </div>
    </div>
  </div>
</div>
<div class="glass-overlay" style="display: none;"></div>
<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 id="tittle-loading">Đang tải hồ sơ...</h2>
        <div class="spinner-border mt-4" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.card-body').style.display = 'block';
        document.getElementById('body-app').style.overflowY = 'auto';
        if({{{showToast}}}) {
            toastMessage("Thông báo", localStorage.getItem('textMessage'), "success", 6000, "✅", 1000);
        }

        const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();
    litSidebars.pop();

    let pageForStudent = true;
    if(litSidebars[litSidebars.length - 1].textContent === 'Hồ sơ đã nộp') {
        pageForStudent = false;
    }

    litSidebars.forEach((li) => {
        if(pageForStudent) {
            if(li.getAttribute('value') === 'Hồ sơ đã nộp') {
                li.parentElement.classList.add('active');
            } else {
                li.parentElement.classList.remove('active');
            }
        } else {
            if(li.getAttribute('value') === 'Danh sách đăng ký') {
                li.parentElement.classList.add('active');
            } else {
                li.parentElement.classList.remove('active');
            }
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
    })
    })
</script>

{{#if (eq role "manager")}}
    <script type="module">
        import { fetchAsync } from '/fetchAsync.js';
        window.fetchAsync = fetchAsync;
        const btnRejectDocument = document.getElementById("btn-reject-document");
        const btnApproveDocument = document.getElementById("btn-approve-document");
        const badge = document.querySelector("span#badge-main");

        btnApproveDocument.onclick = btnRejectDocument.onclick = async (e) => {
            const btn = e.target;
            const textOfBtn = btn.textContent;
            btn.innerHTML = `<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>`;
            btn.disabled = true;
            const url = btn.getAttribute("href");
            const strUrls = url.split('/');
            const userId = strUrls[strUrls.length-1];
            const result = await fetchAsync(url, 'POST', { userId: userId }, null, true);
            const textMessage = result.message;
            badge.classList.add("text-bg-" + result.typeBadge);
            badge.innerHTML = result.status;
            if(result.isSuccess) {
                toastMessage("Thông báo", textMessage, "success", 6000, "✅", 1000);
            } else {
                toastMessage("Thông báo", textMessage, "error", 6000, "❌", 1000);
            }
            btn.textContent = textOfBtn;
            btn.disabled = false;
            btnApproveDocument.disabled = true;
            btnRejectDocument.disabled = true;
        }

        if(btnApproveDocument.className.includes('disabled') || btnRejectDocument.className.includes('disabled')) {
            btnApproveDocument.onclick = btnRejectDocument.onclick = () => {}
        }
    </script>
{{else}}
    <script>
        const btnShowModalDelete = document.getElementById('btn-modal-delete');
        const glass = document.querySelector('.glass-overlay');
        const modalDeleteSubmited = document.getElementById('modal-delete-submited');
        const modalChild = modalDeleteSubmited.querySelector('.modal-containers');
        const btnClose = modalDeleteSubmited.querySelector('button.close span');
        const btnCancel = modalDeleteSubmited.querySelector('button.cancel');
        const body = document.getElementsByTagName('body')[0];

        btnShowModalDelete.onclick = () => {
            body.style.overflowY = 'hidden';
            modalDeleteSubmited.style.display = 'flex';
            glass.style.display = 'block';
            glass.classList.add('active');
        }

        if(btnShowModalDelete.className.includes('disabled')) {
            btnShowModalDelete.onclick = () => {};
        }

        btnCancel.onclick = btnClose.onclick = () => {
            body.style.overflowY = 'auto';
            modalDeleteSubmited.style.display = 'none';
            glass.style.display = 'none';
            glass.classList.remove('active');
        }
    </script>
{{/if}}
